{% extends 'accounts/base.html' %}
{% load static %}


{% block content %}

<div class="home-page">
    <nav id="navbar">
        <ul>
            <li class="sub-menu-parent" tab-index="0">
                <a class="nav-link" tab-index="0" id="logo" href="{% url 'accounts:index' %}">LOGO</a>
            </li>
            <li class="sub-menu-parent" tab-index="0">
                <a href="#about-section">About Us</a>
                <ul class="sub-menu">
                    <li><a href="#overview">Overview</a></li>
                    <li><a href="#team">Meet the Team</a></li>
                    <li><a href="#empower">Empower Now</a></li>
                </ul>
            </li>
            <li class="sub-menu-parent" tab-index="0">
                <a href="#about-section" class="nav-link">Cases</a>
                <ul class="sub-menu">
                    <!-- need to add link -->
                    <li><a href="#overview">All Cases</a></li>
                    <li><a href="#team">Harassment</a></li>
                    <li><a href="#empower">Discrimination</a></li>
                    <li><a href="#empower">Politics</a></li>
                    <li><a href="#empower">Employee Conflicts</a></li>
                    <li><a href="#empower">Other Issues</a></li>
                </ul>
            </li>
            <li class="sub-menu-parent" tab-index="0">
                <a class="nav-link" tab-index="0" href="#service">Our Services</a>
            </li>
            <li class="sub-menu-parent" tab-index="0">
                <a class="nav-link" tab-index="0" href="#">Contact</a>
            </li>

            {% if user.is_authenticated %}
            <li class="sub-menu-parent" id="logbtn" tab-index="0">
                <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="sub-menu-parent" id="logbtn" tab-index="0">
                <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
            </li>
            {% endif%}
        </ul>
    </nav>
    <div class="home-image">
        <div class="home-first" >
        <a href="#service"><div class="arrow bounce"></div></a>
        </div>
        <div class="front-view-text">WORDS? CLICK BUTTON?
        </div>

    </div>

    <div class="home-service">
        
        <h2 class="py-5 text-xl-center">OUR SERVICES</h2>
        <div class="row py-4 spacing" id="service">
            <div class='col-md-6 col-lg-4 mb-4 mb-lg-4'>
                <h2></h2>
                <img class="service-icon" src="{% static 'images/girl-virtual-reality-glasses.svg' %}" alt="">
                <br>
                <p class="py-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ducimus accusantium impedit facilis. Repudiandae maxime delectus iste, nostrum sunt ullam iure quam, corrupti ea earum odit, doloribus quaerat similique a?
                </p>
            </div>
            <div class='col-md-6 col-lg-4 mb-4 mb-lg-4'>
                <h2></h2>
                <img class="service-icon" src="{% static 'images/girl-virtual-reality-glasses.svg' %}" alt="">
                <br>
                <p class="py-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ducimus accusantium impedit facilis. Repudiandae maxime delectus iste, nostrum sunt ullam iure quam, corrupti ea earum odit, doloribus quaerat similique a?
                </p>
            </div>
            <div class='col-md-6 col-lg-4 mb-4 mb-lg-4'>
                <h2></h2>
                <img class="service-icon" src="{% static 'images/girl-virtual-reality-glasses.svg' %}" alt="">
                <br>
                <p class="py-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ducimus accusantium impedit facilis. Repudiandae maxime delectus iste, nostrum sunt ullam iure quam, corrupti ea earum odit, doloribus quaerat similique a?
                </p>
            </div>
        </div>
        <div class="row py-4 spacing" id="service">
            <div class='col-md-6 col-lg-4 mb-4 mb-lg-4'>
                <h2></h2>
                <img class="service-icon" src="{% static 'images/girl-virtual-reality-glasses.svg' %}" alt="">
                <br>
                <p class="py-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ducimus accusantium impedit facilis. Repudiandae maxime delectus iste, nostrum sunt ullam iure quam, corrupti ea earum odit, doloribus quaerat similique a?
                </p>
            </div>
            <div class='col-md-6 col-lg-4 mb-4 mb-lg-4'>
                <h2></h2>
                <img class="service-icon" src="{% static 'images/girl-virtual-reality-glasses.svg' %}" alt="">
                <br>
                <p class="py-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ducimus accusantium impedit facilis. Repudiandae maxime delectus iste, nostrum sunt ullam iure quam, corrupti ea earum odit, doloribus quaerat similique a?
                </p>
            </div>
            <div class='col-md-6 col-lg-4 mb-4 mb-lg-4'>
                <h2></h2>
                <img class="service-icon" src="{% static 'images/girl-virtual-reality-glasses.svg' %}" alt="">
                <br>
                <p class="py-4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ducimus accusantium impedit facilis. Repudiandae maxime delectus iste, nostrum sunt ullam iure quam, corrupti ea earum odit, doloribus quaerat similique a?
                </p>
            </div>
        </div>
    </div>

    <div class='test'>ml
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias asperiores id dolores numquam laudantium minus aspernatur eveniet, accusamus libero inventore excepturi nam accusantium unde amet vitae omnis iure provident. Perferendis.
    </div>
    

</div>

{% endblock content %}
