{% extends 'accounts/base.html' %}

{% block title %}Employee - Session List{% endblock %}

{% block content %}


{% for session in sessions %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Employee</th>
            <th scope="col">Date</th>
            <th scope="col">Module</th>
            <th scope="col">Score</th>
            <th scope="col">Grade</th>
            <th scope="col">Pass/Fail</th>
            <th scope="col">Ethics</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{session.employee.full_name}}</td>
            <td>{{session.date_taken}}</td>
            <td>{{session.module_id}}</td>
            <td>{{session.score}}</td>
            <td>{{session.grade}}</td>
            <td>{{session.pass_fail}}</td>
            <td>{{session.ethics}}</td>

        </tr>
    </tbody>
</table>


{% endfor %}
{% endblock %}