<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load socialaccount %}


<head>
	<meta charset="utf-8">
	{% include 'components/portal_tab_title.html' %}
	
	<meta name="description" content="Sisu VR training login portal">
	<meta name="author" content="Sisu VR">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<link rel="stylesheet" href="{% static 'login/css/login.css' %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Sisu VR" />
    <meta name="description"
        content="Sisu VR's mission is to create kinder, more courageous, & respectful workplaces. We are devoted to helping diverse organizations to be more inclusive & empathy-driven.">
    <link rel="icon" type="image/png" href="{% static 'public/assets/img/logo-header-colored.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'public/css/plugins.css' %}" />
    <link rel="stylesheet" href="{% static 'public/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'public/css/custom.css' %}" />
    <link rel="stylesheet" href="{% static 'css/news2.css' %}" />
    <link rel="stylesheet" href="{{ STATIC_URL }}custom.css" />

</head>

<body>



	 <div class="body-inner">
		<header id="header" data-fullwidth="true" data-responsive-fixed="true" class="header-fixed">
            <div style="background-image: linear-gradient(94.78deg, rgba(236, 127, 0, 0.06) 99.9%, rgba(236, 127, 0, 0.06) 0.1%); " class="header-inner sisu-header-bkg">
				<div class="container">
				<!--Logo-->
				<a href="{% url 'home' %}" id="logo">
				  <img src="{% static 'public/assets/sisu_logo.png' %}"  style="width: auto; height: 40px;"/>
				</a>
				<!--End: Logo-->
				<!--Navigation Resposnive Trigger-->
				<div id="mainMenu-trigger">
				  <a class="lines-button x"><span class="lines"></span></a>
				</div>
				<!--end: Navigation Resposnive Trigger-->
				<!--Navigation-->
				{% include 'components/new-nav-bar-2.html' %}
				<!--end: Navigation-->
			  </div>
			</div>
		  </header>



        <section class="mobile-footer">
            <div class="container">
                <div class="sisu-divider-line text-center">
                    <span class="lead">Customer Portal</span>
                </div>
        </section>


        <section>


        	
                    <div class="bg-cube-container" style="float: right; margin-right: 88px;">
                        <div class="bg-cube-element" style="width:20px; height:13px; margin-top:32px"></div>
                    </div>

                    <div class="bg-cube-container" style="float: right; margin-right: 90px;">
                        <div class="bg-cube-element" style="width:36px; height:24px; margin-top:500px"></div>
                    </div>
                    <div class="bg-cube-container" style="float: right; margin-right: 1000px;">
                        <div class="bg-cube-element" style="width:20px; height:13px; margin-top:700px"></div>
                    </div>

                    <div class="bg-cube-container" style="float: right; margin-right: 1500px;">
                        <div class="bg-cube-element" style="width:20px; height:13px; margin-top:300px"></div>
                    </div>


					<div class="bg-cube-container" style="float: right; margin-right: 1700px;">
                        <div class="bg-cube-element" style="width:36px; height:24px; margin-top:200px"></div>
                    </div>
                    




		<div class="signup-form">
			<form action="{% url 'portal_login' %}" method="post">

				{% csrf_token %}
				
				<h2 class="change-title" style="color: #9F3688;"> Welcome Back! </h2>
				<h2 class="change-title2"> Welcome! </h2>


				<p class="lead">Please login using the credentials provided by your employer</p>
				
				{% if bad_login_is is True %}
					<div class="auth-invalid">
						<p class="auth-invalid">Your account or password is incorrect</p>
						<p>If you don't remember your password either reset your password or contact support at <a class="auth-invalid" href="mailto:hello@sisuvr.com">hello@sisuvr.com</a></p>
					</div>
				{% endif %}

				<div class="form-group">

					<p style="color: #424242;"> Email </p>

					<div class="input-group">
						
						<!-- once emails are supported change type="email" -->
						<!-- <input type="email" class="form-control" name="email" placeholder="Email Address" required="required"> -->
						<input id="user" type="text" name="username" style="border: black, box-shadow: none !important; width: 413px;"
							required="required">
					</div>
				</div>
				<div class="form-group">
					<p style="color: #424242;"> Password </p>
					<div class="input-group">
						
						<input id="pass" type="password" style="border: black, box-shadow: none !important; width: 413px;" name="password"
							required="required">
					</div>
				</div>
				<div>
					<input type="checkbox" class="input-group-addon sisu-checkbox" id="agreement-checkbox" required="required"
						onchange="document.getElementById('btn-sign-in').disabled = !this.checked;">
					<label class="" for="agreement-checkbox">I agree to Sisu VR's <a href="{% url 't_c' %}">Terms & Conditions</a>
						and <a href="{% url 'p_p' %}">Privacy Policy</a></label>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block btn-lg" id="btn-sign-in" disabled>Sign
						In</button>
				</div>
				<!-- <input type="hidden" name="next" value="{{ request.GET.next }}" /> -->
				<input type="hidden" name="next" value="{{ request.path }}" />
				<div class="small text-center">
					<!-- <p>Don't have an account?</p> -->
					<a href="{% url 'password_reset' %}" class="change-text">Forgot password?</a>
					<hr space>
					<a href="{%url 'password_reset' %}" class="change-text"> Don't have an account? </a>
				</div>
			</form>
			
		</div>






	</div>

	{% include 'components/new-footer-home.html' %}

    <!--Plugins-->
    <link rel="stylesheet" href="{% static 'public/js/jquery.js' %}" />
    <script src="{% static 'public/js/jquery.js' %}"></script>
    <script src="{% static 'public/js/plugins.js' %}"></script>

    <!--Template functions-->
    <script src="{% static 'public/js/functions.js' %}"></script>
	</body>



</html>

