{% load staticfiles %}
{% load socialaccount %}


<head>
	<meta charset="utf-8">
	{% include 'components/portal_tab_title.html' %}
	
	<meta name="description" content="Sisu VR training login portal">
	<meta name="author" content="Sisu VR">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'login/css/login.css' %}" />
</head>

<style>
    th {
        vertical-align: top;
    }
    ul {
        font-size: 12px;
        margin-top: 5px;
        padding-left: 20px;
    }
</style>

<div class="signup-form">
            
    <form method="post" class="space-y-6" >
        {% csrf_token %}

        <h2>Password Reset</h2>
        <p class="lead">Enter your new password to have your password reset.</p>

        <table border="0">
            {{ form.as_table }}
        </table>
        <br/>

        <div class="user-details-edit-button">
            <button type="submit" class="btn btn-primary btn-block btn-lg" >Reset Password</button>
        </div> 
        <br/>

        <div class="small text-center">
            <a href="mailto:hello@sisuvr.com?subject=[Password Reset Issue]">Contact support?</a>
        </div>
    </form>

    <div class="small text-center">
        <p><a href="http://www.sisuvr.com/">Sisu VR Inc.</a>&nbsp&nbsp&nbsp&nbsp&copy; 2021</p>
    </div>
</div>