{% load staticfiles %}
{% load socialaccount %}


<head>
	<meta charset="utf-8">
	{% include 'components/portal_tab_title.html' %}
	
	<meta name="description" content="Sisu VR training login portal">
	<meta name="author" content="Sisu VR">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'login/css/login.css' %}" />
</head>

<body>
	<div class="signup-form">
		<form id="id_password_reset_form" class="space-y-6" method="POST">

			{% csrf_token %}
			
			<h2>Password Reset</h2>
			<p class="lead">Enter your account email to have your password reset.</p>

			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
					<!-- once emails are supported change type="email" -->
					<!-- <input type="email" class="form-control" name="email" placeholder="Email Address" required="required"> -->
					<input id="id_email" name="email" type="email" class="form-control" placeholder="Email Address"
						required="required">
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block btn-lg" id="btn-sign-in">Reset Password</button>
			</div>
			<input type="hidden" name="next" value="{{ request.path }}" />
			<div class="small text-center">
				<a href="mailto:hello@sisuvr.com?subject=[Password Reset Issue]">Contact support?</a>
			</div>
		</form>
		<div class="small text-center">
			<p><a href="http://www.sisuvr.com/">Sisu VR Inc.</a>&nbsp&nbsp&nbsp&nbsp&copy; 2021</p>
		</div>
	</div>
</body>




