{% load staticfiles %}
{% load socialaccount %}


<head>
	<meta charset="utf-8">
	{% include 'components/portal_tab_title.html' %}
	
	<meta name="description" content="Sisu VR training login portal">
	<meta name="author" content="Sisu VR">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'login/css/login.css' %}" />
</head>

<body>
		<div class="signup-form">
			<form class="space-y-6" action="#">
				
				<h2>Password Reset</h2>
                <p class="lead">An email has been sent, <br/>please check your inbox and follow the instruction. <br/><br/>
                If you have not received the email within 24 hours, <br/>please contact us at <a style="color:#5D1049" href="mailto: hello@sisuvr.com"><b>hello@sisuvr.com</b></a></p>

            </form>
			<div class="small text-center">
				<p><a href="http://www.sisuvr.com/">Sisu VR Inc.</a>&nbsp&nbsp&nbsp&nbsp&copy; 2021</p>
			</div>
		</div>
</body>


<!-- {% load staticfiles %}

{% block sub_content %} 
<div class="user-details">
<section class="contact_area p_120">
<div class="container contact-us-content">
    <div class="row contact-us-panel">
        <div class="contact-us-left-panel">
            <figure class="circle-img">
                <img src="{% static 'img/story/reset_pw.jpg' %}" />
                <div class="img-blur"></div>
            </figure>
        </div>
        <div class="left-text contact-us-right-panel contact-us-text-panel">
            <h1>
                  Email sent! 
            </h1>
            <p>An email to reset your password has been sent. </p>
            <p>If you have not received the email within 24 hours, please contact us at <a href="mailto: sisu.contact.us@gmail.com"><b> sisu.contact.us@gmail.com </b></a></p>
 
        </div>
    </div>
</div>    
</section>
</div>

{%endblock%} -->