{% load staticfiles %}
{% load socialaccount %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Sisu VR Inc">

        <!-- Title -->
        <title>Sisu VR - Training Portal</title>

    </head>

    <body>

        <!-- Page Container -->
        <div class="page-container">


            <!-- Page Content Start -->
            <div class="page-content">
                <h2>Hello!</h2>
                <p>testpage.html</p>
            </div>
            <!-- Page Content End -->

        </div>
        <!-- /Page Content -->



        
    </body>

</html>