{% load static %}

<style>
textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  display: block;
  background: #10A7BB;
  border-radius: 50px;
  width: 238px;
  height: 47px;
  color: white;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}
</style>

<link rel="stylesheet" type="text/css" href="{% static 'blog/navbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'blog/table.css' %}">
<h3 align="center"><b>Welcome back, {{ player.full_name }}</b></h3>
<form action="{% url 'logout' %}">
<button type="submit" style="position: absolute; top: 0; left: 90%; width: 5%;" value="Log Out">Log Out</button>
</form>
<div class="topnav">
<div class="child">
  <a class="tab first active" href="{% url 'employee_reg' %}"><p>Employee Registration</p></a>
  <a class="tab second inactive" href="{% url 'modules_s' %}"><p>Training Modules</p></a>
  <a class="tab third inactive" href="{% url 'nonsupervisorprogress' %}"><p>Non-Supervisor Progress</p></a>
  <a class="tab forth inactive" href="{% url 'supervisorprogress' %}"><p>Supervisor Progress</p></a>
</div>
</div>

<div class="container">
<br><br><br><br><h2 align=center>Employee Registration!!</h2>
<br>
<p align=center>Please enter each employee's email address, separated by commas.</p>
<br><br>
<textarea id="employees" name="employees" rows="10" cols="50" align=center>
Enter employee emails here.
</textarea>
<br>
<button>Register Emails</button>
</div>
