<!DOCTYPE html>
<html lang="en">

    {% load staticfiles %}
    {% load static %}

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="author" content="Sisu VR" />
        <meta name="description"
            content="Sisu VR provides immersive workplace training through desktop and VR headsets designed to train your workplace using realistic scenarios and events.">
        <link rel="icon" type="image/png" href="{% static 'public/assets/img/logo-header-colored.png' %}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Document title -->
        <title>Sisu VR</title>
        <!-- Stylesheets & Fonts -->
        <link rel="stylesheet" href="{% static 'public/css/plugins.css' %}" />
        <link rel="stylesheet" href="{% static 'public/css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'public/css/custom.css' %}" />
    </head>

    <body>

        <!-- Body Inner -->
        <div class="body-inner">


            <!-- Header -->
            <header id="header" data-transparent="true" data-fullwidth="true" class="dark submenu-light header-disable-fixed">
                <div class="header-inner sisu-header-transparent-bkg">
                    <div class="container">
                        <!--Logo-->
                        <div id="logo">
                            <img src="{% static 'public/assets/svg/logo-text-light.svg' %}">
                            <a href="index.html">
                                <!-- <span class="logo-default">Sisu VR</span> -->
                                <!-- <span class="logo-dark">Sisu VR</span> -->
                            </a>
                        </div>
                        <!--End: Logo-->

                        <!--Navigation Resposnive Trigger-->
                        <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines lines-dark" style="color:#494949"></span></a> </div>
                        <!--end: Navigation Resposnive Trigger-->
                        <!--Navigation-->
                        <div id="mainMenu">
                            <div class="container">
                                <nav>
                                    <ul class="sisu-header-link-mobile">
                                        <li><a class="sisu-menu-link-mobile" href="{% url 'home' %}">Home</a></li>
                                        <li><a class="sisu-menu-link-mobile" href="{% url 'faq' %}">FAQ</a></li>
                                        <li><a class="sisu-menu-link-mobile" href="{% url 'home' %}#testimonials">Testimonials</a></li>
                                        <li><a class="sisu-menu-link-mobile" href="{% url 'home' %}#blog">News</a></li>
                                        <li><a class="sisu-menu-link-mobile" href="{% url 'home_portal' %}">Customer Portal</a></li>
                                        <li><a class="sisu-menu-link-mobile" href="{% url 'contact' %}">Contact Sales</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!--end: Navigation-->
                    </div>
                </div>
            </header>
            <!-- end: Header -->

            <!-- Inspiro Slider -->
            <div id="slider" class="inspiro-slider" style="top:-162px; margin-bottom: -162px">
                <div class="slide" data-bg-image="{% static 'public/assets/img/landing-bg-2.png' %}">
                    <div class="shape-divider" data-style="12" style="z-index: 0; opacity: 1;"><svg
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 630 120" preserveAspectRatio="none"
                            style="height:105px">
                            <path
                                d="M630,34.5a54,54,0,0,1-9,2.3C578.3,46.1,556.1,24,517.2,12.5c-22.9-6.7-47.9-9.8-71-3.9C395.8,21.7,340.3,102,285.1,102.4c-45.4.3-72.6-26.5-102.3-46.1-21.8-14.4-44-30.8-67.4-42.1C84.2-.9,50.9-7.2,13.2,11.8l-1.2.6c-3.5,1.9-8.2,3.9-12,5.9V120H630Z"
                                style="fill:#fff"></path>
                        </svg></div>
                    <div class="container">
                        <div class="slide-captions text-left text-light">
                            <!-- Captions -->
                            <h2 class="sisu-header-title">Take one step closer to an empowered workplace</h2>
                            <p>Sexual harassment prevention training through VR</p>
                            <button style="font-size:16px; margin-top:12px" type="button"
                                class="btn btn-rounded btn-sisu-primary"><a href="#learn-more">Learn More</a></button>

                            <!-- end: Captions -->
                        </div>
                    </div>
                </div>

                <!-- end: Slide 2 -->

            </div>
            <!--end: Inspiro Slider -->


            <div class="container" style="padding-top:64px">
                <div class="bg-cube-container" style="margin-left:-48px">
                    <div class="bg-cube-element" style="width:34px; height:22px; margin-top:-12px"></div>
                </div>
                <div class="bg-cube-container" style="float: right; margin-right: 100px;">
                    <div class="bg-cube-element" style="width:56px; height:36px; margin-top:-62px"></div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <!-- <h2>Rounded</h2> -->
                        <!-- <p>Add classes to an <code>&lt;img&gt;</code> element to easily style images in any project.</p> -->
                        <img src="{% static 'public/assets/img/featured-01.png' %}" class="img-fluid rounded" alt=""
                            style="width:476px; height:auto">
                        <div class="bg-cube-element"
                            style="width:156px; height:102px; margin-top:-80px; margin-left:-28px">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3 id="learn-more" style="font-weight: 600; color:#494949; animation-duration: 100ms"><span class="sisu-color-purple">One in two
                                women</span>
                            has or will face sexual harassment.</h3>
                        <p style="font-size:16px">Harassment has profound psychological effects. It also causes
                            decreased
                            productivity, increased turnover, and lawsuits.</p>
                        <div class="bg-cube-container" style="float: right; margin-right: 48%;">
                            <div class="bg-cube-element" style="width:56px; height:36px; margin-top:18%"></div>
                        </div>
                        <!-- <img src="images/other/550x240.png" class="img-fluid rounded" alt=""> -->
                    </div>
                    <hr class="space">
                    <div class="col-lg-2">
                        <div class="bg-cube-element"
                            style="width:126px; height:88px; margin-top:0px; margin-left:-12px">
                        </div>
                        <div class="bg-cube-element"
                            style="width:80px; height:72px; margin-top:60px; margin-left:-36px">
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <h3 class="text-center" style="font-weight: 600; color:#494949">Let <span
                                class="sisu-color-purple">Sisu VR</span> empower your workforce.</h3>
                        <p class="text-center" style="font-size:16px">The <strong>Empower Now Program</strong> is an
                            immersive
                            anti-harassment training<br>experienced through your desktop or VR headset designed to teach
                            your<br>workplace about harassment situations.</p>
                        <div class="col-lg-2">
                            <div class="bg-cube-container" style="float: right; margin-right: 0%;">
                                <div class="bg-cube-element" style="width:56px; height:36px; margin-top:0%"></div>
                            </div>
                        </div>

                    </div>
                    <div class="bg-cube-container" style="float: right;">
                        <div class="bg-cube-element"
                            style="width:120px; height:96px; margin-top:160px; margin-left:42px"></div>
                    </div>
                    <hr class="space">

                    <div class="col-lg-6">
                        <div class="bg-cube-container" style="float: left; margin-right: 0%;">
                            <div class="bg-cube-element"
                                style="width:26px; height:18px; margin-top:34%; margin-left:80px"></div>
                        </div>
                        <h3 style="font-weight: 600; color:#494949">Experience <span class="sisu-color-purple">Immersive
                                Virtual Reality</span> Training.</h3>
                        <p style="font-size:16px">Engage in VR simulations based on real-life scenarios. Studies show
                            that
                            VR increases retention by up to 80%.*</p>
                        <!-- <img src="images/other/550x240.png" class="img-fluid rounded" alt=""> -->
                    </div>
                    <div class="col-lg-6">
                        <!-- <h2>Rounded</h2> -->
                        <!-- <p>Add classes to an <code>&lt;img&gt;</code> element to easily style images in any project.</p> -->
                        <img src="{% static 'public/assets/img/featured-02.png' %}" class="img-fluid rounded" alt=""
                            style="width:476px; height:autopx">
                        <div class="bg-cube-container" style="float: left; margin-right: 0%;">
                            <div class="bg-cube-element"
                                style="width:226px; height:186px; margin-top:32%; margin-left:-24px"></div>
                        </div>

                    </div>

                    <hr class="space">
                    <div class="col-lg-6">
                        <!-- <h2>Rounded</h2> -->
                        <!-- <p>Add classes to an <code>&lt;img&gt;</code> element to easily style images in any project.</p> -->
                        <img src="{% static 'public/assets/img/featured-03.png' %}" class="img-fluid rounded" alt=""
                            style="width:476px; height:auto">
                    </div>
                    <div class="col-lg-6">
                        <h3 style="font-weight: 600; color:#494949">Play from <span class="sisu-color-purple">multiple
                                perspectives</span>.</h3>
                        <p style="font-size:16px">Learn to handle high-stake situations as a complainant, offender, or
                            observer.</p>
                        <!-- <img src="images/other/550x240.png" class="img-fluid rounded" alt=""> -->
                        <div class="bg-cube-container" style="float: right; margin-right: 0%;">
                            <div class="bg-cube-element" style="width:56px; height:36px; margin-top:0%"></div>
                        </div>
                        <div class="bg-cube-container" style="float: left; margin-right: 0%;">
                            <div class="bg-cube-element"
                                style="width:26px; height:18px; margin-top:34%; margin-left:80px"></div>
                        </div>
                    </div>


                    <hr class="space">
                    <div class="col-lg-6">
                        <h3 style="font-weight: 600; color:#494949">Evaluate your results with an evidence-based <span
                                class="sisu-color-purple">Ethical Framework</span>.</h3>
                        <p style="font-size:16px">Play through modules built on psychological research and ethical
                            frameworks.</p>
                        <div class="bg-cube-container" style="float: right; margin-right: 0%;">
                            <div class="bg-cube-element" style="width:56px; height:36px; margin-top:0%"></div>
                        </div>

                        <div class="bg-cube-container" style="float: left; margin-right: 0%;">
                            <div class="bg-cube-element"
                                style="width:26px; height:18px; margin-top:34%; margin-left:80px"></div>
                        </div>
                        <!-- <img src="images/other/550x240.png" class="img-fluid rounded" alt=""> -->
                    </div>
                    <div class="col-lg-6">
                        <!-- <h2>Rounded</h2> -->
                        <!-- <p>Add classes to an <code>&lt;img&gt;</code> element to easily style images in any project.</p> -->
                        <img src="{% static 'public/assets/img/featured-04.png' %}" class="img-fluid rounded" alt=""
                            style="width:476px; height:318px">

                    </div>

                    <div class="grid-system-demo-live">
                        <div class="row">
                            <div class="col-lg-12 p-t-80 p-b-20">
                                <div class="heading-section">
                                    <h3 id="testimonials" class="text-center">Our clients are raving!</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-4">
                                <div class="blockquote blockquote-fancy">
                                    <p>Sisu VR's Empower Now Program made me feel uncomfortable (as it should!). The experience placed me in positions where I made choices through a variety of perspectives. It's a great solution for employees to learn about sexual harassment in an engaging way</p>
                                    <p class="text-center"><strong><cite>Neilda Pacquing</cite></strong><br>CEO of MindGlow Inc.</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="blockquote blockquote-fancy">
                                    <p>Sisu VR’s training provides a surreal training experience, something I have never personally experienced before. I was faced with realistic workplace scenarios from a series of different perspectives. I definitely felt more engaged with Sisu’s training package compared to the traditional training methods.</p>
                                    <p class="text-center"><strong><cite>Robert M.</cite></strong><br>Founder of SatCatalog</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="blockquote blockquote-fancy">
                                    <p>Incredible training platform that leverages VR and placed me in realistic scenarios! The entire training felt more engaging. I hope more trainings are offered through VR headsets in the future, such a fun and new experience!</p>
                                    <p class="text-center"><strong><cite>Alex Patterson</cite></strong><br>Demo Tester</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="">

                <div data-bg-image="{% static 'public/assets/img/featured-05.png' %}"
                    style="height: 364px; background-image: url(&quot;{% static 'public/assets/img/divider-curved-01.png' %}&quot;);"
                    class="lazy-bg bg-loaded" data-bg="{% static 'public/assets/img/divider-curved-01.png' %}" data-ll-status="loaded">

                    <div class="grid-system-demo-live vertical-center">

                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h3 class="text-center" style="font-weight: 600; color:#fff; font-size: 24px">Ready to
                                    empower your
                                    workforce<br>with a customized training plan?</h3>
                                <button style="font-size:16px; margin-top:12px" type="button"
                                    class="btn btn-rounded btn-sisu-primary"><a style="color:#fff"
                                        href="{% url 'contact' %}">Contact Us</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section>
                <div class="container">
                    <div class="bg-cube-container" style="float: right; margin-right: 0%;">
                        <div class="bg-cube-element" style="width:26px; height:18px; margin-top:0%; margin-left:80px">
                        </div>
                    </div>
                    <div class="heading-text heading-line text-center">
                        <h4>Our Partners</h4>
                    </div>
                    <div class="row team-members m-b-40">
                        <div class="col-lg-4">
                            <div class="team-member">
                                <div class="team-image">
                                    <img src="{% static 'public/assets/img/partner-01.png' %}" style="width:138px;">
                                </div>
                                <div class="team-desc">
                                    <!-- <h3>Litas for Girls</h3> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <div class="team-image">
                                    <img src="{% static 'public/assets/img/partner-02.png' %}" style="width:138px">
                                </div>
                                <div class="team-desc">
                                    <!-- <h3>MindGlow Inc.</h3> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <div class="team-image">
                                    <img src="{% static 'public/assets/img/partner-03.png' %}" style="width:138px">
                                </div>
                                <div class="team-desc">
                                    <!-- <h3>Relay How</h3> -->
                                </div>
                            </div>
                        </div>
                    </div>
                 


                    <div class="heading-text heading-line text-center">
                        <div class="bg-cube-container" style="float: left; margin-right: 0%;">
                            <div class="bg-cube-element"
                                style="width:42px; height:28px; margin-top:0%; margin-left:80px"></div>
                        </div>
                        <h4 id="blog">What's Happening at Sisu VR?</h4>
                    </div>

                    <div class="mobile-hide">
                        <div class="row team-members team-members-shadow m-b-40">
                            <div class="col-lg-3">
                                <div class="team-member">
                                    <div class="team-image">
                                        <img src="{% static 'public/assets/img/blog-new-sexual-harassment-prevention.png' %}">
                                    </div>
                                    <div class="team-desc">
                                        <h3>New Sexual Harassment Prevention Training</h3>
                                        <p>Requirement that employees must take be provided and take anti-sexual harassment training.</p>
                                        <button type="button" class="btn btn-rounded btn-sisu-primary"><a href="https://sisuvr.medium.com/new-sexual-harassment-prevention-training-guidelines-for-california-businesses-in-the-new-year-133be7ec3a3f" target="_blank" style="color:#fff">Read more</a></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="team-member">
                                    <div class="team-image">
                                        <img src="{% static 'public/assets/img/blog-increase-user-retention-comprehension.png' %}">
                                    </div>
                                    <div class="team-desc">
                                        <h3>Increase User Retention and Comprehension</h3>
                                        <p>VR technology has increased benefits compared to traditional training videos.</p>
                                        <button type="button" class="btn btn-rounded btn-sisu-primary"><a href="https://sisuvr.medium.com/increase-user-retention-comprehension-and-empathy-using-virtual-reality-training-7099a470e1f1" target="_blank" style="color:#fff">Read more</a></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="team-member">
                                    <div class="team-image">
                                        <img src="{% static 'public/assets/img/blog-cover-01.png' %}">
                                    </div>
                                    <div class="team-desc">
                                        <h3>VR Productivity Apps to Try</h3>
                                        <p>Whether you are a small or large enterprise, VR applications increase.</p>
                                        <button type="button" class="btn btn-rounded btn-sisu-primary"><a href="https://sisuvr.medium.com/the-future-of-work-is-now-vr-productivity-apps-to-try-out-3c894290df8e" target="_blank" style="color:#fff">Read more</a></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="team-member">
                                    <div class="team-image">
                                        <img src="{% static 'public/assets/img/blog-cover-03.png' %}">
                                    </div>
                                    <div class="team-desc">
                                        <h3>Virtual Morality</h3>
                                        <p>Santa Clara Magazine features Sisu VR as an ethical approach to compliance training.</p>
                                            <button type="button" class="btn btn-rounded btn-sisu-primary"><a href="https://magazine.scu.edu/magazines/spring-2020/virtual-morality/" target="_blank" style="color:#fff">Read more</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mobile-show">
                        <div class="row team-members team-members-shadow m-b-40">
                            <div class="col-lg-3">
                                <div class="team-member">
                                    <div class="team-image">
                                        <img src="{% static 'public/assets/img/blog-new-sexual-harassment-prevention.png' %}">
                                    </div>
                                    <div class="team-desc">
                                        <h3>New Sexual Harassment Prevention Training</h3>
                                        <p>Requirement that employees must take be provided and take anti-sexual harassment training.</p>
                                        <button type="button" class="btn btn-rounded btn-sisu-primary"><a href="https://sisuvr.medium.com/new-sexual-harassment-prevention-training-guidelines-for-california-businesses-in-the-new-year-133be7ec3a3f" target="_blank" style="color:#fff">Read more</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>



            <!-- Footer -->
            <footer id="footer" class="sisu-footer-bg">

            <div data-bg-image="{% static 'public/assets/img/footer-bg.png' %}"
                style="height: 280px; background-image: url(&quot;{% static 'public/assets/img/footer-bg.png' %}&quot;);"
                class="lazy-bg bg-loaded" data-bg="{% static 'public/assets/img/footer-bg.png' %}" data-ll-status="loaded">
                <div class="grid-system-demo-live vertical-center">
                    <div class="footer-content">
                        <div class="container">
                            <div class="row" style="padding-bottom:0px">
                                <div class="col-md-4 col-xl-4">
                                    <p><a href="#"><img src="{% static 'public/assets/svg/logo-text-light.svg' %}" alt="Sisu VR"></a></p>
                                    <p class="sisu-footer-text">Designed to deliver immersive workplace training.</p>
                                </div>
                                <div class="col-4 col-md-4 col-xl-4">
                                    <div class="widget" style="margin-bottom:0px">
                                        <ul class="list">
                                            <li><a class="sisu-footer-link" href="{% url 'faq' %}">About</a></li>
                                            <li><a class="sisu-footer-link" href="{% url 'contact' %}">Contact</a></li>
                                            <li><a class="sisu-footer-link"
                                                    href="{% url 'home_portal' %}">Customer Portal</a></li>
                                            <li><a class="sisu-footer-link" href="{% url 'p_p' %}">Privacy Policy</a></li>
                                            <li><a class="sisu-footer-link" href="{% url 't_c' %}">Terms & Conditions</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-4 col-md-4 col-xl-4">
                                    <br>
                                    <h5 style="color: #fff">FOLLOW US</h5>
                                    <div class="social-icons social-icons-colored social-icons-rounded float-left">
                                        <ul>
                                            <li class="social-facebook"><a href="https://www.facebook.com/sisuvr"
                                                    target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                            <li class="social-twitter"><a href="https://twitter.com/sisuvr"
                                                    target="_blank"><i class="fab fa-twitter"></i></a></li>
                                            <li class="social-linkedin"><a
                                                    href="https://www.linkedin.com/company/sisuvr" target="_blank"><i
                                                        class="fab fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="copyright-text text-center sisu-footer-copyright" style="font-size:12px">
                                Copyright © 2020 Sisu VR Inc. All
                                Rights Reserved.</div>
                        </div>
                    </div>
                </div>
            </div>
            </footer>
            <!-- end: Footer -->

        </div>
        <!-- end: Body Inner -->

        <!--Plugins-->
        <link rel="stylesheet" href="{% static 'public/js/jquery.js' %}" />
        <script src="{% static 'public/js/jquery.js' %}"></script>
        <script src="{% static 'public/js/plugins.js' %}"></script>

        <!--Template functions-->
        <script src="{% static 'public/js/functions.js' %}"></script>


    </body>

</html>