{% load static %}

<h3 align=center>Training Modules</h3>

<br><br>

<h4 align=center><a href="{% url 'downloads' %}"> Go to Downloads</a></h4>

<!-- MODULES ARE HARDCODED FOR NOW -->

<table>
<td>Module</td>
<td>Summary</td>
<td>Topics Covered</td>
<tr>
<td>Module 1</td>
<td>Play as Sr Engineers and HR Supervisor at Tredint</td>
<td><list><li>Toxic Work Environment</li></list></td>
<tr>
<td>Module</td>
<td>Summary</td>
<td>Topics Covered</td>
<tr>
<td>Module</td>
<td>Summary</td>
<td>Topics Covered</td>
</table>
