/*
    DEMO STYLE
*/


.display-3 {
    font-size: 3.0rem;
}

.btn-sisu-primary {
    font-size: 16px;
    background: #EC7F00 !important;
    color: #fff;
    border-radius: 3px;
    border: none;
    min-width: 140px;
    max-width: 180px;
    border-radius: 100px;
}

.btn-sisu-lg {
    font-size: 20px;
    background: #EC7F00 !important;
    color: #fff;
    border-radius: 3px;
    border: none;
    min-width: 250px !important;
    max-width: 450px !important;
    border-radius: 100px;
}

.btn-sisu-md {
    font-size: 20px;
    background: #EC7F00 !important;
    color: #fff;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 100px;
}


.img-sisu-logo{
    width: 80px;
    height: auto;
}

.btn-info {
    color: #fff;
    background-color: #0070E0;
    border-color: #0070E0;
}

.form-check a {
    color: #0070E0;
    text-decoration: underline;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background-color: #fff !important;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
  }

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #F7F9FA;
    color: #596B8C;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    padding-left: 42px;
    color: #EC7F00;
    font-weight: 800;
    background: #F7F9FA;
}

#sidebar ul.components {
    padding: 20px 0;
    padding-left: 32px;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #596B8C;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    display: block;
}

#sidebar ul li a:hover {
    color: #EC7F00;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #EC7F00;
    background: #F7F9FA;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #F7F9FA;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

.list-unstyled {
    padding-left: 32px;
}

a.article,
a.article:hover {
    color: #0070E0 !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}


@media (min-width: 576px){
.modal-dialog {
    max-width: 696px;
    margin: 1.75rem auto;
}}


.sisu-purple-bkg{
    background-color: #A03789;
}

.btn-sisu-primary {
    background-color: #EC7F00;
    color: #fff;
    font-weight: 600;
    border-radius: 100px;
    padding: 8px 20px 8px 20px;
}

.btn-sisu-primary:hover {
    background-color: #EC7F00;
    color: #343a40;
    font-weight: 600;
    border-radius: 100px;
    padding: 8px 20px 8px 20px;
}


    .sisu-menu-item {
        font-weight: 500 !important;
        color: #fff !important;
        font-family: Jost
    }


@media only screen and (min-width: 798px){
.sisu-menu-item {
    margin-right: 54px !important;
}}

@media only screen and (max-width: 797px){
    .sisu-menu-item {
        margin-right: 0px !important;
    }}



.sisu-menu-item:hover {
    color: #fff;
    text-decoration: underline;
}


.sisu-header-bkg {
    /* min-height: 99px; */
    left: 0px;
    top: 0px;
    background: rgb(159,54,136);
    background: linear-gradient(179deg, rgba(159,54,136,1) 0%, rgba(206,68,134,1) 56%, rgba(248,207,104,1) 100%);
}



.sisu-footer-bkg {
    background: rgb(159,54,136);
    background: linear-gradient(179deg, rgba(159,54,136,1) -100%, rgba(206,68,134,1) 56%, rgba(248,207,104,1) 100%);
}


.sisu-footer-item {
    margin-right: 54px !important;
    font-weight: 500 !important;
    color: #fff !important;
    font-family: Jost
}

.sisu-footer-list li {
    padding-bottom: 6px

}


.page-header .page-title:after {
    content: '';
    position: absolute;
    display: block;
    /* margin-top: 8px; */
    width: 40px;
    height: 4px;
    background: #EC7F00;
    bottom: 1;
    left: 1;
}


