{% extends "blog/base_sub_w_footer.html" %}
{% load staticfiles %}

{% block sub_content %} 
<div class="user-details">
<section class="contact_area p_120">
<div class="container contact-us-content">
    <div class="row contact-us-panel">
        <div class="contact-us-left-panel">
            <figure class="circle-img">
                <img src="{% static 'img/story/reset_pw.jpg' %}" />
                <div class="img-blur"></div>
            </figure>
        </div>
        <div class="left-text contact-us-right-panel contact-us-text-panel">
            <h1>
                  Email sent! 
            </h1>
            <p>An email to reset your password has been sent. </p>
            <p>If you have not received the email within 24 hours, please contact us at <a href="mailto: sisu.contact.us@gmail.com"><b> sisu.contact.us@gmail.com </b></a></p>
 
        </div>
    </div>
</div>    
</section>
</div>

{%endblock%}