{% extends "blog/base_sub_w_footer.html" %}
{% load staticfiles %}

{% block sub_content %} 
    <section class="contact_area p_120">
        <div class="container contact-us-content">
            <div class="row contact-us-panel">
                <div class="contact-us-left-panel">
                    <figure class="circle-img">
                        <img src="{% static 'img/story/reset_completed.jpg' %}" />
                        <div class="img-blur"></div>
                    </figure>
                </div>
                <div class="left-text contact-us-right-panel contact-us-text-panel">
                    <h1>
                          Password reset completed.
                    </h1>
                    <p>Your new password has been set. Please <a href="{%url 'login' %}"><b>login</b></a> here. </p>
                    
                </div>
            </div>
        </div>    
    </section>

{% endblock %}