<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Sisu VR" />
    <meta name="description"
        content="Interested in learning more about our products? Want to see a demonstration of our professional training programs? Contact us today.">
    <link rel="icon" type="image/png" href="{% static 'public/assets/img/logo-header-colored.png' %}">
    <style>
        .grecaptcha-badge {
            visibility: hidden;
        }
    </style>
    <!-- Document title -->
    <title>Contact - Sisu VR</title>

    <!-- Stylesheets & Fonts -->
    <link rel="stylesheet" href="{% static 'public/css/plugins.css' %}" />
    <link rel="stylesheet" href="{% static 'public/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'public/css/custom.css' %}" />

    <script src='https://www.google.com/recaptcha/api.js'></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% include 'components/ga-tracking-code.html' %}
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Header -->
        <header id="header" data-fullwidth="true" data-responsive-fixed="true" class="header-fixed" >
            <div class="header-inner sisu-header-bkg">
                <div class="container">
                  <!--Logo-->
                  <a href="{% url 'home' %}" id="logo">
                    <img src="{% static 'public/assets/sisu_logo.png' %}" style="width: auto; height: 40px;"/>
                  </a>
                  <!--End: Logo-->
                  <!--Navigation Resposnive Trigger-->
                  <div id="mainMenu-trigger">
                    <a class="lines-button x"><span class="lines"></span></a>
                  </div>
                  <!--end: Navigation Resposnive Trigger-->
                  <!--Navigation-->
                  {% include 'components/new-nav-bar.html' %}
                  <!--end: Navigation-->
                </div>
              </div>
        </header>
        <!-- end: Header -->
        <!-- Content -->
        {% include 'components/message-sent.html' %}
        <section style="padding-bottom:24px">
            <div class="container">
                <div class="sisu-divider-line text-center">
                    <h2>Let's Work Together</h2>

                    <hr class="sisu-hr line">
                    <p class="lead sisu-color-purple">Interested in one of our trainings?<br>Want to know about pricing for your company?<br>Need a demo before committing?<br>Send us a message.
                    </p>
                </div>
        </section>

        <section style="padding-top:12px">
            <div class="container" style="padding-left:17%; padding-right:17%">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="m-t-30">
                            <form id="form-contact" class="widget-contact-form" method="POST" action="">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="subject">Subject<span class="required-star">*</span></label>
                                        {% if errors.input_subject %}
                                            <p class="error-message">{{ errors.input_subject.0 }}</p>
                                        {% endif %}
                                        <select name="input-subject" class="form-control" required>
                                            <option value="" disabled selected>Select</option>
                                            <option value="hrtrain">Interested in HR Business Conduct Training</option>
                                            <option value="active">Interested in Active Shooter Training</option>
                                            <option value="demo">Request a demo</option>
                                            <option value="question">General question</option>
                                            <option value="story">Share my story</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="name">First Name<span class="required-star">*</span></label>
                                        {% if errors.input_first_name %}
                                            <p class="error-message">{{ errors.input_first_name.0 }}</p>
                                        {% endif %}
                                        <input type="text" aria-required="true" name="input-first-name"
                                            autocomplete="given-name" class="form-control" required
                                            value="{% if form_data.input_first_name %}{{ form_data.input_first_name }}{% endif %}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="name">Last Name<span class="required-star">*</span></label>
                                        {% if errors.input_last_name %}
                                            <p class="error-message">{{ errors.input_last_name.0 }}</p>
                                        {% endif %}
                                        <input type="text" aria-required="true" name="input-last-name"
                                            autocomplete="family-name" required class="form-control">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="subject">Company Name (Optional)</label>
                                        <input type="text" name="input-company-name" required class="form-control">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="subject">Email Address<span class="required-star">*</span></label>
                                        {% if errors.input_email %}
                                            <p class="error-message">{{ errors.input_email.0 }}</p>
                                        {% endif %}
                                        <input type="email" aria-required="true" name="input-email" autocomplete="email"
                                            required class="form-control">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="phone">Phone Number (Optional)</label>
                                        <input type="tel" name="input-phone" class="form-control">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="message">Message (Optional)</label>
                                    <textarea type="text" name="input-message" required rows="8"
                                    class="form-control required" placeholder="Type your message here..."></textarea>
                                </div>
                                <div class="sisu-divider-line text-center">
                                    {% if errors %}
                                        <p class="general-error-message">Looks like you missed some of the required fields. Please double check form.</p>
                                    {% endif %}
                                    <div style="padding-bottom: 20px;">
                                    </div>
                                    <button type="submit" data-sitekey="6Lf4EywbAAAAAHYgI-pcbhLQs04XtDKncfSc8x-w"
                                        data-callback="onSubmit" data-action="submit"
                                        class="g-recaptcha btn btn-sisu-primary">Send Message</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- end: Content -->
        {% include 'components/new-footer.html' %}
    </div>
    <!-- end: Body Inner -->

    <!--Plugins-->
    <link rel="stylesheet" href="{% static 'public/js/jquery.js' %}" />
    <script src="{% static 'public/js/jquery.js' %}"></script>
    <script src="{% static 'public/js/plugins.js' %}"></script>

    <!--Template functions-->
    <script src="{% static 'public/js/functions.js' %}"></script>
    <script>
        function onSubmit(token) {
            document.getElementById("form-contact").submit();
        }
    </script>

</body>

</html>
