{% load static %}

<style>
.center {
  text-align: center;
  list-style-position: inside;
}
</style>

<h3 align=center> Download Modules</h3>
<br><br>
<h4 align=center><a href="">Download Empower Now Program - Windows</a></h4>
<br>
<h4 align=center><a href="">Download Empower Now Program - MacOs</a></h4>
<br><br>
<h3 align=center> Download Directions</h3>
<br><br>
<ol type="1" class="center">
<li>Click on the download button corresponding to the your operating system
<li>Solve the captcha
<li>Save file to target directory
<li>Unzip file into target directory
<li>Open target directory and double click ENP.exe (Windows) or ENP.app (Mac)
<li>Use your assigned email and password to sign in and begin the training
</ol>

