<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Sisu VR" />
  <meta name="description"
    content="Sisu VR empowers employees to work fearlessly. We offer immersive virtual reality trainings to prepare employees to handle workplace misconduct and active shooter emergencies." />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="icon" type="image/png" href="{% static 'public/assets/img/logo-header-colored.png' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <script src="{% static 'public/js/custom.js' %}"></script>
  <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@id": "https://www.sisuvr.com",
        "@type": "Organization",
        "name": "Sisu VR",
        "url": "{{ request.scheme }}://{{ request.get_host }}{% url 'home' %}",
        "logo": "{{ request.scheme }}://{{ request.get_host }}{% static 'public/assets/img/logo-header-colored.png' %}",
        "sameAs": [
          "https://www.linkedin.com/company/sisuvr",
          "https://www.facebook.com/sisuvr",
          "https://www.twitter.com/sisuvr"
        ]
      }
    </script>

  <!-- Document title -->
  <title>Enpower Now Program</title>
  <!-- Stylesheets & Fonts -->
  <link rel="stylesheet" href="{% static 'public/css/plugins.css' %}" />
  <link rel="stylesheet" href="{% static 'public/css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'public/css/custom.css' %}" />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  {% include 'components/ga-tracking-code.html' %}
</head>

<body>
  <!-- Body Inner -->
  <div class="body-inner">
    <!-- Header -->
    <header id="header" data-fullwidth="true" data-responsive-fixed="true" class="header-fixed">
      <div
        style="background-image: linear-gradient(94.78deg, rgba(236, 127, 0, 0.06) 99.9%, rgba(236, 127, 0, 0.06) 0.1%); isolation: isolate;"
        class="header-inner sisu-header-bkg">
        <div class="container">
          <!--Logo-->
          <a href="{% url 'home' %}" id="logo">
            <img src="{% static 'public/assets/sisu_logo.png' %}" style="width: auto; height: 40px;" />
          </a>
          <!--End: Logo-->
          <!--Navigation Resposnive Trigger-->
          <div id="mainMenu-trigger">
            <a class="lines-button x"><span class="lines"></span></a>
          </div>
          <!--end: Navigation Resposnive Trigger-->
          <!--Navigation-->
          {% include 'components/new-nav-bar-2.html' %}
          <!--end: Navigation-->
        </div>
      </div>
    </header>
    <!-- end: Header -->
    <style>
      h3 {
        font-family: 'Mulish';
        font-weight: 700;
      }

      div {
        font-family: 'Mulish';
      }

      p {
        font-family: 'Mulish';
      }

      span {
        font-family: 'Mulish';
        font-weight: 400;
        font-size: 20px;
      }
    </style>
    <div>
      <div class="container">
        <div class="sisu-divider-line text-center">
          <h3
            style="margin-top: 50px;margin-bottom: 50px; color: black; font-size: 34px; font-family: 'Mulish'; font-weight: 700;"
            class="sisu-color-purple">
            A Closer Look at Our Trainings
          </h3>
        </div>
      </div>
    </div>

    <!-- HR Business Conduct Training -->

    <style>
      .text-container>div {
        margin-bottom: 10px;
        padding-right: 90px;
        /* Set this to your desired margin-bottom value */
      }
    </style>
    <div id="intro" style="background: rgba(255, 240, 247, 0.81); width: 100%; height: 321px;">
      <div id="info" style="display: flex; align-items: center; width: 100%; height: 100%;">
        <img src="{% static '/public/assets/training_1.png' %}" alt="HR Business Conduct Training"
          style="max-width: 200px; margin-right: 100px; margin-left: 200px;" />
        <div class="text-container" style="display: flex; flex-direction: column; align-items: flex-start;">
          <h3 style="color: #CE4486;font-size: 32px; line-height: 40px;" class="sisu-color-purple">HR Business Conduct
            Training</h3>
          <div style="font-size: 20px;">Help your employees learn how to respond to harassment, discrimination,
            bullying, and a hostile work environment<br></div>
        </div>
      </div>
    </div>

    <!-- Why Choose This Training? -->

    <div
      style="display: flex; flex-direction: row; width: 100%; justify-content: center; align-items: center; justify-content: center; padding: 50px; margin-top: 30px; gap: 30px;">

      <div style="display: flex; flex-direction: column; align-items: flex-start; line-height: 30px;">
        <h3 class="sisu-color-purple"
          style=" line-height: 39px; align-self: flex-start; color: #CE4486; font-size: 29px; font-weight: 700;">Why
          choose this
          training?<br></h3>
        <div style="font-size: 20px; align-self: flex-start; font-weight: 500;">This training is designed to help
          employees learn to<br> handle a variety of
          negative situations with realistic scenarios.<br><br>
          This training focuses on common workplace issues such as<br> harassment,
          discrimination, and bullying. <br><br>
          Why does this matter? Studies show that 30% of employees do<br> not know
          how to handle such workplace issues and this type of<br> behavior can have
          profound psychological effects including<br> decreased productivity on the
          victim, increased turnover,<br> and even lawsuits.<br><br>
          Sisu VR helps companies empower their employees and be<br> more
          empathic. </div>
      </div>


      <img src="{% static 'public/assets/ASP.png' %}" alt="Macbook-Sisu" style="
            width: 554px;
            height: 363px; 
            z-index: -1;" />

    </div>

    <!-- Training Program Details -->

    <div>
      <div class="container">
        <div class="sisu-divider-line text-center">
          <h3 style="font-weight: 700; margin-top: 50px;margin-bottom: 50px; color: #CE4486; font-size: 29px;"
            class="sisu-color-purple">
            Training Program Details
          </h3>
        </div>
      </div>
    </div>

    <style>
      .text-container-2>div {
        margin-bottom: 10px;
        padding-right: 90px;
        /* Set this to your desired margin-bottom value */
      }
    </style>

    <div
      style="display: flex; flex-direction: row; gap: 100px; height: 321px; width: 100%; align-items: center; justify-content:center;">
      <div id="info"
        style="display: flex; flex-direction:column; align-items: center; justify-content: center; padding-top: 40px; padding-left: 10%;">
        <div>
          <iframe width="100" height="50" src="https://www.youtube.com/embed/7Vrr7_OYSeo" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen style="width: 430px;height: 270px;"></iframe>
        </div>
        <!-- <div style="display: flex; justify-content: center; gap: 10px; margin-top: 10px;">
          <img src="{% static 'public/assets/img/demo-video-thumbnail.jpg' %}" class="img-fluid rounded" alt="image"
            style="width: 120px; height: auto" onclick="galleryVideo(this)" />
          <img src="{% static 'public/assets/img/demo-video-thumbnail.jpg' %}" class="img-fluid rounded" alt="image"
            style="width: 120px; height: auto" onclick="galleryVideo(this)" />
          <img src="{% static 'public/assets/img/demo-video-thumbnail.jpg' %}" class="img-fluid rounded" alt="image"
            style="width: 120px; height: auto" onclick="galleryVideo(this)" />
        </div> -->
      </div>
      <div class="text-container-2"
        style="display: flex; flex-direction: column; align-items: flex-start; padding: 5px; margin-left: 20px;">
        <div style="font-weight: bold; font-weight: 700; font-size: 20px;line-height: 40px;">The program is divided into
          separate employee training modules*</div>
        <div style="font-weight: bold; font-weight: 500; font-size: 20px;line-height: 40px;">Module 1 - Sexual
          Harrasment, Hostile Work Environment</div>
        <div style="font-weight: bold; font-weight: 500; font-size: 20px;line-height: 40px;">Module 2 - Sexual
          Orientation, Gender Identity, Quid Pro </div>
        <div style="font-weight: bold; font-weight: 500; font-size: 20px;line-height: 40px;">Module 3 - Sexual
          Harrasment, Hostile Work Environment</div>
        <div style="font-weight: bold; font-weight: 500; font-size: 20px;line-height: 40px;">Module 4 - Sexual
          Harrasment, Hostile Work Environment<br></div>
        <p><br>*Admin, HR, and manager trainings are also available. </p>
      </div>
    </div>

    <!-- Flexibility in mind -->

    <div>
      <div class="container">
        <div class="sisu-divider-line text-center">
          <h3 style="font-weight: 700; margin-top: 100px;margin-bottom: 50px; color: #CE4486; font-size: 29px;"
            class="sisu-color-purple">
            <br><br>Flexibility in Mind
          </h3>
        </div>
      </div>
    </div>

    <div
      style="font-size: 32px;display: grid; grid-template-columns: 1fr 1fr 1fr; justify-content: center; align-items: center; flex-direction: column; text-align: center; gap: 20px;">
      <div style="font-size: 16px; color: #494949;">
        <p><span class="iconify" data-icon="clarity:computer-solid" style="color: black;" data-width="50"
            data-height="50"></span></p>
        <div style="font-size: 18px; font-weight: 700;">Desktop and VR</div><br>Modules are provided in a
        variety of platforms to <br>better suit your organization's resources.
      </div>
      <div style="font-size: 16px; color: #494949;">
        <p><span class="iconify" data-icon="simple-icons:diagramsdotnet" style="color: black;" data-width="50"
            data-height="50"></span></p>
        <div style="font-size: 18px; font-weight: 700;">Time</div><br>Each module's structure is around 20 minutes
        <br>to guarantee employee retention and avoid learning fatigue.
      </div>
      <div style="font-size: 16px; color: #494949;">
        <p><span class="iconify" data-icon="material-symbols:clock-loader-40" style="color: black;" data-width="50"
            data-height="50"></span></p>
        <div style="font-size: 18px; font-weight: 700;">Pricing</div><br>We don’t believe in a one size fits all. Let us
        work <br>together to meet a price that suits your organization.
      </div>
    </div>

    <!-- Understand Your Employees -->

    <div>
      <div class="container">
        <div class="sisu-divider-line text-center">
          <h3 style="font-weight: 700; margin-top: 100px;margin-bottom: 0px; color: #CE4486; font-size: 29px;"
            class="sisu-color-purple">
            <br><br>Understand Your Employees
          </h3>
        </div>
      </div>
    </div>


    <div style="display: flex; flex-direction: row; width: 100%; justify-content: center; align-items: center;">
      <div class="stats" style="display: block;position: relative;  width: 100%; height: 500px;">
        <img src="{% static 'public/assets/stat_1.png' %}" class="img-fluid rounded" alt="image" style="height: 170px;
        width: 337px;
        border-radius: 0px;
        position: relative;
        top:5%;
        left: 15%;" />
        <img src="{% static 'public/assets/stat_2.png' %}" class="img-fluid rounded" alt="image" style="height: 170px;
        height: 218px;
        width: 430px;
        position: absolute;
        top: calc(45%);
        left: calc(30%);
        border-radius: 0px; 
        z-index: -1;" />
      </div>

      <div style="padding-right: calc(10%);">
        <div style="font-size: 32px; line-height: 39px; font-weight: 700;">Evaluate employee results with an
          evidence-based <span style="color: 
          #CE4486; font-size: 32px; line-height: 39px; font-weight: 700;">Ethical Framework<br><br></span></div>
        <ul style="color: #494949; font-size: 20px; font-weight: 500;">
          <li style="list-style-type:none; padding-bottom: 15px;">
            <span style="color: #FFC121; font-size: 24px; ">&bull;</span> Track employee progress and obtain critical
            data on organizational performance
          </li>
          <li style="list-style-type: none; padding-bottom: 15px;">
            <span style="color: #FFC121; font-size: 24px; ">&bull;</span> Generate reports on how to create a more
            inclusive workplace
          </li>
          <li style="list-style-type: none; padding-bottom: 15px;">
            <span style="color: #FFC121; font-size: 24px; ">&bull;</span> Reinforce courage, kindness, and respect
          </li>
        </ul>
      </div>
    </div>

    <!-- Stay Organized -->

    <div>
      <div class="container">
        <div class="sisu-divider-line text-center">
          <h3 style="font-weight: 700; margin-top: 100px;margin-bottom: 0px; color: #CE4486; font-size: 29px;"
            class="sisu-color-purple">
            Stay Organized
          </h3>
        </div>
      </div>
    </div>

    <div
      style="display: flex; flex-direction: row; width: 100%; justify-content: center; align-items: center; justify-content: center; padding: 50px;">

      <div style="display: flex; flex-direction: column; align-items: flex-start; line-height: 30px;">
        <div style="font-size: 32px; line-height: 39px; align-self: flex-start; font-weight: 700;">View your company’s
          progress through
          the customer portal<br><br></div>
        <div style="font-size: 20px; align-self: flex-start; font-weight: 500;">Customer Portal allows HR Managers to
          keep
          your
          company on track and make sure all employees are progressing and completing their training.<br><br></div>
        <div style="font-size: 20px; align-self: flex-start; font-weight: 500">Send notifications and reminders to your
          employees on trainings incomplete. Just one more tool to make your life easier.</div>
      </div>


      <img src="{% static 'public/assets/Macbook-Sisu.png' %}" alt="Macbook-Sisu" style="
        width: 647px;
        height: auto; 
        z-index: -1;" />

    </div>


    <!-- Contact Us -->


    <div class="row justify-content-md-center">
      <div class="col-lg-12">
        <h3 class="text-center" style="font-weight: 600; color: #CE4486;; font-size: x-large">
          Ready to have a harassment-free workplace?
        </h3>
        <h3 class="text-center" style="font-weight: 600; color: #CE4486;; font-size: large">
          A Sisu VR member is ready to help.<br>
        </h3>
      </div>
      <div class="col-lg-12">
        <div class="center-container">
          <button style="
              font-size: 16px;
              margin-top: 24px;
              margin-bottom: 24px;
              border-radius: 30px;
              height: 51px;
              width: 200px;
            " type="button" class="btn btn-sisu-primary">
            <a href="{% url 'contact' %}" style="color: #fff !important">
              Let's Get Started
            </a>
          </button>
          <span>Aren’t ready to commit? No problem. Request a <a style="text-decoration: underline; color: black;"
              href="{% url 'contact' %}">free demo</a></span>
        </div>
      </div>
    </div>

    <style>
      .text-container>div {
        margin-bottom: 10px;
        padding-right: 90px;
        /* Set this to your desired margin-bottom value */
      }
    </style>

    <!-- -------------------- -->

    <!-- Active Shooter Training -->

    <section id="AST"></section>
    <div id="intro" style="background: rgba(255, 203, 142, 0.24);
    width: 100%; height: 321px;">
      <div id="info" style="display: flex; align-items: center; width: 100%; height: 100%;">
        <img src="{% static '/public/assets/training_2.png' %}" alt="HR Business Conduct Training"
          style="max-width: 200px; margin-right: 100px; margin-left: 200px;" />
        <div class="text-container" style="display: flex; flex-direction: column; align-items: flex-start;">
          <h3 style="color: #CE4486;font-size: 32px; line-height: 40px; font-size: 32px;" class="sisu-color-purple">
            Active Shooter
            Training</h3>
          <div style="font-size: 20px; color:#494949; font-weight: 500;">Help your employees prepare and respond to an
            active shooter situation using the Run-Hide-Fight method from the Department of Homeland Security.<br></div>
        </div>
      </div>
    </div>

    <!-- Why Choose this training -->

    <div
      style="display: flex; flex-direction: row; width: 100%; justify-content: center; align-items: center; justify-content: center; padding: 50px; margin-top: 30px; gap: 30px;">

      <div style="display: flex; flex-direction: column; align-items: flex-start; line-height: 30px;">
        <h3 class="sisu-color-purple"
          style=" line-height: 39px; align-self: flex-start; color: #CE4486; font-size: 29px; font-weight: 700;">Why
          choose this
          training?<br></h3>
        <div style="font-size: 20px; align-self: flex-start; font-weight: 500;">This training is designed to help
          civilians prepare for an
          active<br> shooter situation by providing them with an immersive training.<br><br>
          A virtual environment provides a controlled and secure setting for the<br> training to take place.<br><br>
          This training provides employees with a realistic scenario, allowing<br> them to practice and prepare for a
          real-life active shooter situation.<br><br>
          Let’s hope they never have to use it. </div>
      </div>


      <img src="{% static 'public/assets/ASP.png' %}" alt="Macbook-Sisu" style="
            width: 554px;
            height: 363px; 
            z-index: -1;" />

    </div>

    <!-- Training Program Details -->

    <div>
      <div class="container">
        <div class="sisu-divider-line text-center">
          <h3 style="font-weight: 700; margin-top: 50px;margin-bottom: 50px; color: #CE4486; font-size: 29px;"
            class="sisu-color-purple">
            Training Program Details<br>
          </h3>
        </div>
      </div>
    </div>

    <style>
      .text-container-2>div {
        margin-bottom: 10px;
        padding-right: 90px;
        /* Set this to your desired margin-bottom value */
      }
    </style>

    <div
      style="display: flex; flex-direction: row; gap: 100px; height: 321px; width: 100%; align-items: center; justify-content:center;">
      <div id="info"
        style="display: flex; flex-direction:column; align-items: center; justify-content: center; padding-top: 40px;">
        <div>
          <iframe width="100" height="50" src="https://www.youtube.com/embed/j9G4lYO0ock" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen style="width: 430px;height: 270px;"></iframe>
        </div>
        <!-- <div style="display: flex; justify-content: center; gap: 10px; margin-top: 10px;">
          <img src="{% static 'public/assets/img/demo-video-thumbnail.jpg' %}" class="img-fluid rounded" alt="image"
            style="width: 120px; height: auto" onclick="galleryVideo(this)" />
          <img src="{% static 'public/assets/img/demo-video-thumbnail.jpg' %}" class="img-fluid rounded" alt="image"
            style="width: 120px; height: auto" onclick="galleryVideo(this)" />
          <img src="{% static 'public/assets/img/demo-video-thumbnail.jpg' %}" class="img-fluid rounded" alt="image"
            style="width: 120px; height: auto" onclick="galleryVideo(this)" />
        </div> -->
      </div>
      <div class="text-container-2"
        style="display: flex; flex-direction: column; align-items: flex-start; padding: 5px; margin-left: 20px;">
        <div style="font-size: 24px; line-height: 30px; font-weight: 700;">What the Active Shooter Training covers*
        </div>
        <br>
        <ul style="color: #494949;; font-size: 20px; font-weight: 500;">
          <li style="list-style-type:none; padding-bottom: 15px;">
            <span style="color: #FFC121; font-size: 24px; ">&bull;</span> Firearm Sounds
          </li>
          <li style="list-style-type: none; padding-bottom: 15px;">
            <span style="color: #FFC121; font-size: 24px; ">&bull;</span> Listening Drill
          </li>
          <li style="list-style-type: none; padding-bottom: 15px;">
            <span style="color: #FFC121; font-size: 24px; ">&bull;</span> Run: Quick Escape 
          </li>
          <li style="list-style-type:none; padding-bottom: 15px;">
            <span style="color: #FFC121; font-size: 24px; ">&bull;</span> Hide: Cover vs conceal
          </li>
          <li style="list-style-type: none; padding-bottom: 15px;">
            <span style="color: #FFC121; font-size: 24px; ">&bull;</span> Fight: Improvised weapons
          </li>
          <li style="list-style-type: none; padding-bottom: 15px;">
            <span style="color: #FFC121; font-size: 24px; ">&bull;</span> Evacuation
          </li>
        </ul>
      </div>
    </div>

    <!-- Flexibility in mind -->

    <div>
      <div class="container">
        <div class="sisu-divider-line text-center">
          <h3 style="font-weight: 700; margin-top: 100px;margin-bottom: 50px; color: #CE4486; font-size: 29px;"
            class="sisu-color-purple">
            <br><br>Flexibility in Mind
          </h3>
        </div>
      </div>
    </div>

    <div
      style="font-size: 32px;display: grid; grid-template-columns: 1fr 1fr 1fr; justify-content: center; align-items: center; flex-direction: column; text-align: center; gap: 20px;">
      <div style="font-size: 16px; color: #494949;">
        <p><span class="iconify" data-icon="clarity:computer-solid" style="color: black;" data-width="50"
            data-height="50"></span></p>
        <div style="font-size: 18px; font-weight: 600;">Desktop and VR</div><br>Modules are provided in a
        variety of platforms to <br>better suit your organization's resources.
      </div>
      <div style="font-size: 16px; color: #494949;">
        <p><span class="iconify" data-icon="simple-icons:diagramsdotnet" style="color: black;" data-width="50"
            data-height="50"></span></p>
        <div style="font-size: 18px; font-weight: 600;">Time</div><br>Each module's structure is around 20 minutes
        to guarantee employee retention and avoid learning fatigue.
      </div>
      <div style="font-size: 16px; color: #494949;">
        <p><span class="iconify" data-icon="material-symbols:clock-loader-40" style="color: black;" data-width="50"
            data-height="50"></span></p>
        <div style="font-size: 18px; font-weight: 600;">Pricing</div><br>We don’t believe in a one size fits all. Let us
        work <br>together to meet a price that suits your organization.
      </div>
    </div>

    <!-- Contact Us -->


    <div class="row justify-content-md-center">
      <div class="col-lg-12">
        <h3 class="text-center" style="font-weight: 600; color: #CE4486;; font-size: x-large">
          <br><br><br><br>
          Ready to have a harassment-free workplace?
        </h3>
        <h3 class="text-center" style="font-weight: 600; color: #CE4486;; font-size: large">
          A Sisu VR member is ready to help.<br>
        </h3>
      </div>
      <div class="col-lg-12">
        <div class="center-container">
          <button style="
              font-size: 16px;
              margin-top: 24px;
              margin-bottom: 24px;
              border-radius: 30px;
              height: 51px;
              width: 200px;
            " type="button" class="btn btn-sisu-primary">
            <a href="{% url 'contact' %}" style="color: #fff !important">
              Let's Get Started
            </a>
          </button>
          <span><br>Aren’t ready to commit? No problem. Request a <a style="text-decoration: underline; color: black;"
              href="{% url 'contact' %}">free demo</a></span>
        </div>
      </div>
    </div>

    <!-- More Questions -->

    <div class="row justify-content-md-center">
      <div class="col-lg-12">
        <h3 class="text-center" style="font-weight: 600; color: #373F41; font-size: large">
          <br><br>
          Have more questions? Check out our <a style="text-decoration: underline;font-weight: bold; color: black;"
          href="{% url 'faq' %}">FAQ</a> or <a style="text-decoration: underline; font-weight: bold; color: black;"
          href="{% url 'contact' %}">Contact Us</a> for any specific questions.
        </h3>
      </div>
      <!-- <div class="col-lg-12">
        <div></div>
        <div class="center-container">
          <div style="display: flex;flex-direction: row;gap: 100px; margin-top: 10px;">
            <button style="
              font-size: 16px;
              margin-top: 24px;
              margin-bottom: 24px;
              border-radius: 30px;
              height: 51px;
              width: 200px;
            " type="button" class="btn btn-sisu-primary">
              <a href="{% url 'faq' %}" style="color: #fff !important">
                FAQ
              </a>
            </button>
            <button style="
              font-size: 16px;
              margin-top: 24px;
              margin-bottom: 24px;
              border-radius: 30px;
              height: 51px;
              width: 200px;
            " type="button" class="btn btn-sisu-primary">
              <a href="{% url 'contact' %}" style="color: #fff !important">
                Contact Us
              </a>
            </button>
          </div> -->

        </div>



        <!-- Cookies -->
        <div id="consent-popup" class="hidden">
          <p>
            By using this site you agree to our
            <a href="{% url 't_c' %}">Terms and Conditions</a>. Please accept these
            before using the site.
          </p>
          <div class="cookie-consent-banner__actions">
            <button class="cookie-consent-banner__cta" id="accept">Accept</button>

            <button class="cookie-consent-banner__cta cookie-consent-banner__cta--secondary" id="decline">
              Decline
            </button>
          </div>
        </div>
        <script>
          const cookieStorage = {
            getItem: (item) => {
              const cookies = document.cookie
                .split(";")
                .map((cookie) => cookie.split("="))
                .reduce(
                  (acc, [key, value]) => ({ ...acc, [key.trim()]: value }),
                  {}
                );
              return cookies[item];
            },
            setItem: (item, value) => {
              document.cookie = `${item}=${value};`;
            },
          };

          const storageType = cookieStorage;
          const consentPropertyName = "jdc_consent";
          const shouldShowPopup = () => !storageType.getItem(consentPropertyName);
          const saveToStorage = () =>
            storageType.setItem(consentPropertyName, true);

          window.onload = () => {
            const acceptFn = (event) => {
              saveToStorage(storageType);
              consentPopup.classList.add("hidden");
            };
            const declineFn = (event) => {
              consentPopup.classList.add("hidden");
            };
            const consentPopup = document.getElementById("consent-popup");
            const acceptBtn = document.getElementById("accept");
            const declineBtn = document.getElementById("decline");
            acceptBtn.addEventListener("click", acceptFn);
            declineBtn.addEventListener("click", declineFn);

            if (shouldShowPopup(storageType)) {
              setTimeout(() => {
                consentPopup.classList.remove("hidden");
              }, 2000);
            }
          };
        </script>

        <!-- Footer -->
        {% include 'components/new-footer-training.html' %}
        <!-- end: Footer -->

        <!-- end: Body Inner -->

        <!--Plugins-->
        <link rel="stylesheet" href="{% static 'public/js/jquery.js' %}" />
        <script src="{% static 'public/js/jquery.js' %}"></script>
        <script src="{% static 'public/js/plugins.js' %}"></script>

        <!--Template functions-->
        <script src="{% static 'public/js/functions.js' %}"></script>
        <script>
          // Get the modal
          let modal = document.getElementById("modal-demo-video");
          let btn = document.getElementById("btn-view-demo");
          let close = document.getElementById("modal-demo-video-close");

          // When the user clicks the button, open the modal
          btn.onclick = function () {
            $("#modal-demo-video").addClass("show");
            $("#modal-demo-video").css("display", "block");
            $("#modal-demo-video").css("padding-right", "17px");
          };

          // When the user clicks on <close> (x), close the modal
          close.onclick = function () {
            $("#modal-demo-video").fadeOut("fast");
          };

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function (event) {
            if (event.target == modal) {
              $("#modal-demo-video").fadeOut("fast");
            }
          };
        </script>
        <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>

</body>

</html>