<!DOCTYPE html>
<html lang="en">


{% load static %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Sisu VR" />
    <meta name="description" content="FAQs. How does Sisu VR's Empower Now Program Work? The Empower Now Program is an immersive... How does the MindGlow Active Shooter Training work? Our training uses Run-Hide-Fight...">
    <link rel="icon" type="image/png" href="{% static 'public/assets/img/logo-header-colored.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>FAQ - Sisu VR</title>
    <!-- Stylesheets & Fonts -->
    <link rel="stylesheet" href="{% static 'public/css/plugins.css' %}" />
    <link rel="stylesheet" href="{% static 'public/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'public/css/custom.css' %}" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% include 'components/ga-tracking-code.html' %}
</head>

<body>
            


                    
               
                


    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Header -->
        <header id="header" data-fullwidth="true" data-responsive-fixed="true" class="header-fixed" >
            <div style="background-image: linear-gradient(94.78deg, rgba(236, 127, 0, 0.06) 99.9%, rgba(236, 127, 0, 0.06) 0.1%); " class="header-inner sisu-header-bkg">
                <div class="container">
                  <!--Logo-->
                  <a href="{% url 'home' %}" id="logo">
                    <img src="{% static 'public/assets/sisu_logo.png' %}"  style="width: auto; height: 40px;"/>
                    
                  </a>
                  <!--End: Logo-->
                  <!--Navigation Resposnive Trigger-->
                  <div id="mainMenu-trigger">
                    <a class="lines-button x"><span class="lines"></span></a>
                  </div>
                  <!--end: Navigation Resposnive Trigger-->
                  <!--Navigation-->
                  {% include 'components/new-nav-bar-2.html' %}
                  <!--end: Navigation-->
                </div>
              </div>
        </header>

      

            

        <section style="padding-bottom:32px">
            <div class="container">
                <div class="sisu-divider-line text-center">

                    <span class="lead"> Frequently Asked Questions</span><br/> <br/>
                    <hr style=" border: 1px solid #494949;">

                </div>
                <br/> <br/> <br/> <br/>
        </section>


        <section id="page-content">
            <div class="container">
                <p class="new-title">General</p>
                <div class="row">
                    <div class="content col-lg-12" style="padding-left:12%; padding-right:12%">
                        <!-- Accordion -->

                        
                        <div class="accordion accordion-flat">
                            
                            <div class="ac-item">
                                <h5 class="ac-title">Why virtual reality (VR)?</h5>
                                <div class="ac-content" style="display: none;">
                                    <p>
                                        Currently, most training solutions are delivered via videos, live presentations, or manuals. 
                                        However, these methods have been proven to be ineffective. On the other hand, studies show 
                                        <a href="https://drive.google.com/open?id=1_GkdMrk2_WxUbxyEjyNj7rGiMPL9-_UY" target="_blank">VR soft skills</a> training promotes better 
                                        and faster learning, higher retention of information, and increased engagement. It has also been shown to bolster empathy. 
                                        Sisu VR delivers high-quality experiences in multiple first-person perspectives using VR. By interacting with realistic scenarios, 
                                        employees are empowered to effectively address incidents of misconduct. 
                                        
                                    </p>
                                    <p>
                                        <a href="{% url 'contact' %}">Contact us</a> today for a free demo!
                                    </p>
                                </div>
                            </div>


                             <div class="ac-item">
                                <h5 class="ac-title">How does pricing work?</h5>
                                <div class="ac-content" style="display: none;">
                                    <p>
                                        Our training can be purchased via a per-user annual subscription.
                                    </p>
                                    <p>
                                        <a href="{% url 'contact' %}">Contact us</a> today to learn more!
                                    </p>
                                </div>
                            </div>







                            <div class="ac-item">
                                <h5 class="ac-title">Does this training meet certified state standards and regulations?</h5>
                                <div class="ac-content" style="display: none;">
                                    <p>
                                        Yes, our trainings meet requirements for all 50 U.S. states. 

                                    </p>
                                </div>
                            </div>
                                                       <div class="ac-item">
                                <h5 class="ac-title">Do I have to provide VR headsets?</h5>
                                <div class="ac-content" style="display: none;">
                                    <p>
                                        Yes, employers are responsible for purchasing VR headsets. We recommend the Pico VR G2 4K. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- end: Accordion -->
                    </div>
                </div>
                <br/> <br/>

                <p class="new-title">Empower Now Program</p>

                <div class="row">
                    <div class="content col-lg-12" style="padding-left:12%; padding-right:12%">
                        <!-- Accordion -->

                        
                        <div class="accordion accordion-flat">
                            
                            <div class="ac-item">
                                <h5 class="ac-title">How does the Empower Now Program work?</h5>
                                <div class="ac-content" style="display: none;">
                                    <p>
                                        The Empower Now Program is an immersive anti-harassment training experience based on real field cases. The user experiences the training from multiple perspectives (i.e. victim, perpetrator, and observer) and educates the user on how to handle misconduct through escape, confrontation, and de-escalation techniques.  
                                        
                                    </p>
                                    <p>
                                        <a href="{% url 'contact' %}">Contact us</a> today for a free demo!
                                    </p>
                                </div>
                            </div>
                            <div class="ac-item">
                                <h5 class="ac-title">Who creates the ENP’s content and how is it created?</h5>
                                <div class="ac-content" style="display: none;">
                                    <p>
                                        The Empower Now Program is based on real harassment cases and developed in-house with the help of our team of HR and training expert(s).

                                    </p>
                                </div>
                            </div>
                            
                        </div>
                        <!-- end: Accordion -->
                    </div>
                </div>

                      <br/> <br/> 
                      <p class="new-title">Active Shooter Prevention Training</p>

                <div class="row">
                    <div class="content col-lg-12" style="padding-left:12%; padding-right:12%">
                        <!-- Accordion -->

                        
                        <div class="accordion accordion-flat">
                            
                            <div class="ac-item">
                                <h5 class="ac-title"> How does the MindGlow Active Shooter Training work?</h5>
                                <div class="ac-content" style="display: none;">
                                    <p>
                                        Our training uses the Run-Hide-Fight method taught by the Department of Homeland Security. By combining instructional videos and interactive activities, your employees will learn about the method and immediately apply those techniques in the interactive activities that follow.

                                        
                                    </p>
                                    <p>
                                        <a href="{% url 'contact' %}">Contact us</a> today for a free demo!
                                    </p>
                                </div>
                            </div>
                            <div class="ac-item">
                                <h5 class="ac-title">How was the MindGlow Active Shooter Training created?</h5>
                                <div class="ac-content" style="display: none;">
                                    <p>
                                        The MindGlow Active Shooter Response Training was made in collaboration with subject matter experts in law enforcement, workplace safety training and compliance, and the military. 


                                    </p>
                                </div>
                            </div>


                            <div class="ac-item">
                                <h5 class="ac-title">I’m worried this training might be too scary. Is it safe for civilians?</h5>
                                <div class="ac-content" style="display: none;">
                                    <p>
                                        Our training was designed for people without any military or law enforcement training and takes safety and trauma into consideration. For example, while other training providers have simulations with perpetrators pointing a firearm at a person, we use a cardboard cutout instead.



                                    </p>
                                </div>
                            </div>


                            
                        </div>
                        <!-- end: Accordion -->
                    </div>
                </div>


            </div>
        </section>
        <section>
            <div class="container">
                <div class="sisu-divider-line text-center">

                    <div style="padding-bottom: 20px;">
                        <span >Have any specific questions? Feel free to contact us and we would be happy to help.</span>
                    </div>
                    
                    <button type="button" class="btn btn-rounded btn-sisu-primary"><a href="{% url 'contact' %}" style="color:#fff">Contact Us</a></button>
                </div>
        </section>
        <!-- end: Content -->
        {% include 'components/new-footer-faq.html' %}
    </div>
    <!-- end: Body Inner -->

    <!--Plugins-->
    <link rel="stylesheet" href="{% static 'public/js/jquery.js' %}" />
    <script src="{% static 'public/js/jquery.js' %}"></script>
    <script src="{% static 'public/js/plugins.js' %}"></script>

    <!--Template functions-->
    <script src="{% static 'public/js/functions.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>


</body>

</html>