{% load static %}

<footer>
    <div id="footer" class="sisu-footer-bg"></div>
    <div data-bg-image="{% static 'public/assets/img/footer-bg.png' %}"
        style="height: 280px; background-image: url(&quot;{% static 'public/assets/img/footer-bg.png' %}&quot;);"
        class="lazy-bg bg-loaded" data-bg="{% static 'public/assets/img/footer-bg.png' %}" data-ll-status="loaded">
        <div class="grid-system-demo-live vertical-center">
            <div class="footer-content">
                <div class="container">
                    <div class="row" style="padding-bottom:0px">
                        <div class="col-md-4 col-xl-4">
                            <p><a href="#"><img src="{% static 'public/assets/svg/logo-text-light.svg' %}"
                                        alt="Sisu VR"></a></p>
                            <p class="sisu-footer-text">Designed to deliver immersive workplace training.</p>
                        </div>
                        <div class="col-4 col-md-4 col-xl-4">
                            <div class="widget" style="margin-bottom:0px">
                                <ul class="list">
                                    <li><a class="sisu-footer-link" href="{% url 'faq' %}">About</a></li>
                                    <li><a class="sisu-footer-link" href="{% url 'contact' %}">Contact</a></li>
                                    <li><a class="sisu-footer-link" href="{% url 'home_portal' %}">Customer
                                            Portal</a></li>
                                    <li><a class="sisu-footer-link" href="{% url 'p_p' %}">Privacy Policy</a></li>
                                    <li><a class="sisu-footer-link" href="{% url 't_c' %}">Terms & Conditions</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-4 col-md-4 col-xl-4">
                            <br>
                            <h5 style="color: #fff">FOLLOW US</h5>
                            <div class="social-icons social-icons-colored social-icons-rounded float-left">
                                <ul>
                                    <li class="social-facebook"><a href="https://www.facebook.com/sisuvr"
                                            target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="social-twitter"><a href="https://twitter.com/sisuvr" target="_blank"><i
                                                class="fab fa-twitter"></i></a></li>
                                    <li class="social-linkedin"><a href="https://www.linkedin.com/company/sisuvr"
                                            target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="copyright-text text-center sisu-footer-copyright" style="font-size:12px">
                        Copyright © 2021 Sisu VR Inc. All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </div>
</footer>