{% extends "blog/base_sub_w_footer.html" %}
{% load staticfiles %}

{% block sub_content %} 
<div class="user-details">
<section class="contact_area p_120">
<div class="container contact-us-content">
    <div class="row contact-us-panel">
        <div class="contact-us-left-panel">
            <figure class="circle-img">
                <img src="{% static 'img/story/reset_pw.jpg' %}" />
                <div class="img-blur"></div>
            </figure>
        </div>
        <div class="left-text contact-us-right-panel contact-us-text-panel">
            <h1>
                  Forget Password? 
            </h1>
            <p>
                  Enter your email address below. 
            </p>
            <p>   We'll email the instructions for setting up a new one.
            </p>
          
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <li style="color:red;">{% if message.tags %} "{{ message.tags }}"{% endif %}: {{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            
            <form method="post" class="user-details-header-content">
                {% csrf_token %}
                <table border="0">
                    {{ form.as_p }}
                </table>
                
                <div class="user-details-edit-button">
                    <button type="submit" class="sisu-button">Submit</button>
                </div>
                
            </form>
            
        </div>
    </div>
</div>    
</section>
</div>
{% endblock %}