<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sisu-header-bkg">
        <a href="#" class="navbar-brand d-flex align-items-center my-0 mr-md-auto">
            <image src="assets/logo-sisu-light-01.png"></image>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbar">
            <ul class="navbar-nav ml-auto flex-nowrap">
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item sisu-menu-item">About</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item sisu-menu-item">Testimonials</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item sisu-menu-item">Blog</a>
                </li>
                <li class="nav-item ">
                    <a href="#" class="nav-link m-2 menu-item sisu-menu-item">Customer Portal</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link m-2 menu-item sisu-menu-item">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</body>