<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Sisu VR" />
    <meta name="description"
        content="Sisu VR's mission is to create kinder, more courageous, & respectful workplaces. We are devoted to helping diverse organizations to be more inclusive & empathy-driven.">
    <link rel="icon" type="image/png" href="{% static 'public/assets/img/logo-header-colored.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Sisu VR | News</title>
    <!-- Stylesheets & Fonts -->
    <link rel="stylesheet" href="{% static 'public/css/plugins.css' %}" />
    <link rel="stylesheet" href="{% static 'public/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'public/css/custom.css' %}" />

    <link rel="stylesheet" href="{{ STATIC_URL }}custom.css" />
    <link rel="stylesheet" href="{% static 'css/news2.css' %}" />
    <link rel="stylesheet" href="{% static 'css/news2.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-ut7pg17c2O2xymbChmrxPzjF6cB0Y7O9DynZvJnDagoKovb3F6kc3d8pWfSV7A/t6Y5RA6sa5U6rGaaV7QWOw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-4X2t8GiQW6apvM21eCud+sujDlwbKUVGFPnKxJsqdCQg9X8ZJJK+P91tsb4i4RJdft4I4fxz4xQ+j1GGqFwlA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />



    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% include 'components/ga-tracking-code.html' %}
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Header -->
        <header id="header" data-fullwidth="true" data-responsive-fixed="true" class="header-fixed">
            <div style="background-image: linear-gradient(94.78deg, rgba(236, 127, 0, 0.06) 99.9%, rgba(236, 127, 0, 0.06) 0.1%); "
                class="header-inner sisu-header-bkg">
                <div class="container">
                    <!--Logo-->
                    <a href="{% url 'home' %}" id="logo">
                        <img src="{% static 'public/assets/sisu_logo.png' %}" style="width: auto; height: 40px;" />
                    </a>
                    <!--End: Logo-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    {% include 'components/new-nav-bar-2.html' %}
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->
        <!-- Content -->
        <style>
            .container-2 {
                width: 90%;
                margin: auto;
            }
        </style>
        <section>
            <div class="sisu-divider-line text-center">
                <span class="lead">News</span>
                <hr class="container-2" style=" border: 1px solid #494949;  margin: auto; margin-top:2vh">

            </div>
        </section>

        <!-- Post of the Week -->
        <div class="container-2">
            <div
                style="display: flex; flex-direction: row; width: 100%; justify-content: center; justify-content: center; gap: 70px; ">

                <img src="{% static 'public/assets/PofW.png' %}" alt="Macbook-Sisu" style="
            width: 397px;
            height: 397px; 
            z-index: -1;" />
                <div style="display: flex; flex-direction: column; align-items: flex-start; line-height: 30px;">
                    <h3 class="sisu-color-purple"
                        style=" line-height: 40px; align-self: flex-start; color: #CE4486; font-size: 29px; font-weight: 600;">
                        Post of the Week<br></h3>
                    <h4>Empower Your Workforce in 2023</h4>
                    <div style="font-size: 20px; align-self: flex-start; font-weight: 400;">As we begin 2023, we ponder
                        how
                        organizations are cultivating an empowered workforce. Many companies are turning to more robust
                        learning and development programs to create more informed and engaged teams. How are companies
                        reimagining the way training is executed, especially in a rapidly changing, working
                        world?<br><br>
                    </div>
                    <a href="https://sisuvr.medium.com/empower-your-workforce-in-2023-1ac3a0477295" target=”blank”
                        class="btn btn-sisu-primary" style="
                          border-radius: 25px;
                          border: 1px solid #ced4da;
                          font-size: 16px;
                          width: 180px;
                          
                        " type="submit">
                        Read Article
                    </a>
                </div>

            </div>
        </div>

        <!-- Press -->

        <section>
            <div class="container-2">
              <div class="sisu-divider-line text-center">
                <span class="lead" style="padding: 50px;">Press</span>
                <div class="space"></div>
              </div>
              {% if latest_pres_post_list %}
              
              <div class="carousel">
                {% for post in latest_pres_post_list %}
                
                <div class="my-slides" style="padding: 20px">
                  <img src="{{ post.p_photo.url }}" alt="Macbook-Sisu" style="width: 300px; height: 169px; z-index: -1;" />
                  <div class="heading-section">
                    <h2 class="text-center" style="color: #373F41; font-size: 18px; padding-top: 10px;"><a href="{{ post.url_p }}" style="color: #373F41;">{{ post.title_p }}</a></h2>
                  </div>
                  <div class="row justify-content-md-center align-items-center" style="height: 100px">
                    <p class="text-center" style="font-size: 14px; color: #494949;">{{ post.Summary_p }}
                    </p>
                  </div>
                </div>
                {% endfor %}
                
              </div>
              {% else %}
              {% endif %}
            </div>
          </section>

        <!-- Articles -->

        <section>
            <div class="container-2">
              <div class="sisu-divider-line text-center">
                <span class="lead" style="padding: 50px;">Articles</span>
                <div class="space"></div>
              </div>
              {% if latest_medium_post_list %}
              
              <div class="carousel">
                {% for post in latest_medium_post_list %}
                
                <div class="my-slides" style="padding: 20px">
                  <img src="{{ post.m_photo.url }}" alt="Macbook-Sisu" style="width: 300px; height: 169px; z-index: -1;" />
                  <div class="heading-section">
                    <h2 class="text-center" style="color: #373F41; font-size: 18px; padding-top: 10px;"><a href="{{ post.url_m }}" style="color: #373F41;">{{ post.title_m }}</a></h2>
                  </div>
                  <div class="row justify-content-md-center align-items-center" style="height: 100px">
                    <p class="text-center" style="font-size: 14px; color: #494949;">{{ post.Summary_m }}
                    </p>
                  </div>
                </div>
                {% endfor %}
                
              </div>
              {% else %}
              {% endif %}
            </div>
          </section>
          
          <script type="text/javascript">
          $(document).ready(function(){
            $('.carousel').slick({
              infinite: true,
              slidesToShow: 3,
              slidesToScroll: 3,
              prevArrow: '<a class="prev" href="#"><i class="fas fa-chevron-left"></i></a>',
              nextArrow: '<a class="next" href="#"><i class="fas fa-chevron-right"></i></a>',
              responsive: [
                {
                  breakpoint: 768,
                  settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                  }
                },
                {
                  breakpoint: 576,
                  settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                  }
                }
              ]
            });
          });

          
          </script>
          


        <section>
            <div class="container-2">
                <div class="sisu-divider-line text-center">
                    <div style="padding-bottom: 20px;">
                        <span class="lead">What happening at Sisu Vr?</span>
                        <div class="space"></div>
                    </div>
                    <div class="row">
                        {% if latest_linked_in_post_list %}

                        {% for post in latest_linked_in_post_list %}
                        <div class="col-lg-4">
                            <iframe src={{post.url}} height="{{post.height}}" width="{{post.width}}" frameborder="0"
                                allowfullscreen="" title="Embedded post" style="filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));"></iframe>
                        </div>


                        <hr class="mobile-space">
                        {% endfor %}

                        {% else %}
                        <p> There should be at least three linkedin posts </p>
                        {% endif %}

                        <!--                         <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:7004112211925245953" height="234" width="136" frameborder="0" allowfullscreen="" title="Embedded post"></iframe> -->

                    </div>


                </div>

        </section>







        <section class="mobile-footer">
            <div class="container">
                <div class="sisu-divider-line text-center">
                    <div class="bg-cube-container" style="float: right; margin-right: -48px;">
                        <div class="bg-cube-element" style="width:56px; height:36px; margin-top:4%"></div>
                    </div>
                    <div class="bg-cube-container" style="margin-left:-84px">
                        <div class="bg-cube-element" style="width:34px; height:26px; margin-top:0%"></div>
                    </div>
                    <div style="padding-bottom: 20px;">
                        <span class="lead">Follow us and stay in the loop </span>
                    </div>

                    <hr class="mobile-space">


                    <div class="row">

                        <div class="col-lg-4">
                            <div class="mobile-container">

                                <img class="mobile-image" src="{% static 'public/assets/facebook-logo.png' %}"
                                    class="rectangle-172" alt="facebook logo" style="width:20px; height:50px;">
                                <p class="mobile-text"> Facebook.com/Sisuvr </p>

                            </div>


                            <div class="col-lg-4">

                                <hr class="mobile-space">


                                <div class="mobile-container">

                                    <img class="mobile-image-twitter"
                                        src="{% static 'public/assets/twitter-logo.png' %}" class="rectangle-172"
                                        alt="facebook logo" style="width:20px; height:50px;">
                                    <p class="mobile-text-twitter"> Twitter.com/Sisuvr </p>

                                </div>


                            </div>



                            <div class="col-lg-4">

                                <hr class="mobile-space">


                                <div class="mobile-container">

                                    <img class="mobile-image-twitter"
                                        src="{% static 'public/assets/linkedin-logo.png' %}" class="rectangle-172"
                                        alt="facebook logo" style="width:20px; height:50px;">
                                    <p class="mobile-text-twitter"> Linkedin.com/Sisuvr </p>



                                </div>


                            </div>


                            <div class="col-lg-4">

                                <hr class="mobile-space">


                                <div class="mobile-container">

                                    <img class="mobile-image-twitter" src="{% static 'public/assets/medium-logo.png' %}"
                                        class="rectangle-172" alt="facebook logo" style="width:20px; height:50px;">
                                    <p class="mobile-text-twitter"> Medium.com/Sisuvr </p>



                                </div>


                            </div>




                            <hr class="mobile-space">
                        </div>



        </section>

        <!-- end: Content -->

        {% include 'components/new-footer-news.html' %}




    </div>
    <!-- end: Body Inner -->

    <!--Plugins-->
    <link rel="stylesheet" href="{% static 'public/js/jquery.js' %}" />
    <script src="{% static 'public/js/jquery.js' %}"></script>
    <script src="{% static 'public/js/plugins.js' %}"></script>

    <!--Template functions-->
    <script src="{% static 'public/js/functions.js' %}"></script>
    <script src="{% static 'public/js/custom.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-Vn8Zg0deAwoK3CL3h5jJp5p+Uz7VYo5H6U5P6gCf5Q5rVjK+w6QdjmQ7rjTcZXTV9ZsNrajgDv7i+8WYI5pY6w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
</body>

</html>