<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Sisu VR" />
    <meta name="description"
        content="Check out the latest industry trends, company updates, and feature improvements from Sisu VR.">
    <link rel="icon" type="image/png" href="{% static 'public/assets/img/logo-header-colored.png' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>News - Sisu VR</title>
    <!-- Stylesheets & Fonts -->
    <link rel="stylesheet" href="{% static 'public/css/plugins.css' %}" />
    <link rel="stylesheet" href="{% static 'public/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'public/css/custom.css' %}" />

    <link rel="stylesheet" href="{{ STATIC_URL }}custom.css" />
    <link rel="stylesheet" href="{% static 'css/news2.css' %}" />
    <link rel="stylesheet" href="{% static 'css/news2.css' %}" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% include 'components/ga-tracking-code.html' %}
</head>

<body>
    <!-- Body Inner -->
    <div class="body-inner">
        <!-- Header -->
        <header id="header" data-fullwidth="true" data-responsive-fixed="true" class="header-fixed">
            <div class="header-inner sisu-header-bkg">
                <div class="container">
                    <!--Logo-->
                    <a href="{% url 'home' %}" id="logo">
                        <img src="{% static 'public/assets/sisu_logo.png' %}" style="width: auto; height: 40px;" />
                    </a>
                    <!--End: Logo-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger">
                        <a class="lines-button x"><span class="lines"></span></a>
                    </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    {% include 'components/new-nav-bar.html' %}
                    <!--end: Navigation-->
                </div>
            </div>
        </header>
        <!-- end: Header -->
        <!-- Content -->
        <section>
            <div class="container-fluid">
                <div class="sisu-divider-line text-center">

                    <h2 class="news-subheading">News</h2>
                    <div class="sisu-news-divider"></div>

                </div>


            </div>
        </section>


        <!-- ============================= -->
        <!--  SECTION: Post of the Week   -->
        <!-- ============================= -->
        <section class="post-of-week-section no-top-padding">
            <div class="container-of-week">
                <div class="row align-items-center">
                    <!-- Image (left column) -->
                    <div class="col-md-5">
                        <img src="{{ latest_medium_post_list.0.m_photo.url }}" alt="Post of the Week Image"
                            class="post-of-week-image" />
                    </div>

                    <!-- Text/Link area (right column) -->
                    <div class="col-md-7">
                        <h3 class="post-of-week-title">Post of the Week</h3>
                        <h4 class="week-article-title">{{ latest_medium_post_list.0.title_m }}</h4>
                        <p class="week-article-desc">{{ latest_medium_post_list.0.Summary_m }}</p>
                        <a href="{{ latest_medium_post_list.0.url_m }}" target="_blank"
                            class="btn btn-sisu-primary">
                            Read Article
                        </a>
                    </div>
                </div>
            </div>
        </section>


        <!-- ============================= -->
        <!--  SECTION: Press Articles     -->
        <!-- ============================= -->
        <section class="no-top-padding">
            <div class="container-press">
                <div class="text-center">
                    <h2 class="news-subheading">Press</h2>
                </div>

                <div class="scroll-arrow scroll-left" onclick="scrollPress('press-scroll', -1)">
                    &#10094;
                </div>

                <div class="scroll-outer-wrapper">
                    <div class="scroll-container" id="press-scroll">
                        {% for post in latest_press_article_list %}
                        <div class="scroll-item">
                            {% if post.p_photo %}
                            <img src="{{ post.p_photo.url }}" alt="{{ post.p_title }}" class="press-thumbnail" />
                            {% else %}
                            <img src="{% static 'public/assets/img/press/press1.png' %}" alt="Default image"
                                class="press-thumbnail" />
                            {% endif %}
                            <h5>{{ post.p_title }}</h5>
                            <p>{{ post.p_summary }}</p>
                            <a href="{{ post.p_url }}" target="_blank" class="read-more">Read More</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="scroll-arrow scroll-right" onclick="scrollPress('press-scroll', 1)">
                    &#10095;
                </div>
            </div>
        </section>


        <!-- ============================= -->
        <!--  SECTION: Medium Articles           -->
        <!-- ============================= -->
        <section class="no-top-padding">
            <div class="container-press">
                <div class="text-center">
                    <h2 class="news-subheading">Articles</h2>
                </div>

                <div class="scroll-arrow scroll-left" onclick="scrollPress('articles-scroll', -1)">
                    &#10094;
                </div>

                <div class="scroll-outer-wrapper">
                    <div class="scroll-container" id="articles-scroll">
                        {% for post in latest_medium_post_list %}
                        <div class="scroll-item">
                            {% if post.m_photo %}
                            <img src="{{ post.m_photo.url }}" alt="{{ post.title_m }}" class="press-thumbnail" />
                            {% else %}
                            <img src="{% static 'public/assets/img/press/press1.png' %}" alt="Default image"
                                class="press-thumbnail" />
                            {% endif %}
                            <h5>{{ post.title_m }}</h5>
                            <p>{{ post.Summary_m }}</p>
                            <a href="{{ post.url_m }}" target="_blank" class="read-more">Read More</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="scroll-arrow scroll-right" onclick="scrollPress('articles-scroll', 1)">
                    &#10095;
                </div>
            </div>
        </section>



        <!-- ============================= -->
        <!--  SECTION: LinkedIn Posts      -->
        <!-- ============================= -->
        <section class="no-top-padding">
            <div class="container">
                <!-- Section Title -->
                <div class="text-center">
                    <h2 class="news-subheading">Our Latest Social Media Updates</h2>
                </div>

                <div class="row">
                    {% if latest_linked_in_post_list %}
                    {% for post in latest_linked_in_post_list %}
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <iframe src="{{ post.url }}" style="width: 100%; height: 500px;" frameborder="0" allowfullscreen
                            title="LinkedIn Post {{ forloop.counter }}">
                        </iframe>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="text-center">No recent LinkedIn posts available.</p>
                    {% endif %}
                </div>
            </div>
        </section>



        <!-- ============================= -->
        <!--  SECTION: Mobile Footer    -->
        <!-- ============================= -->
        <section class="mobile-footer">
            <div class="container">
                <div class="sisu-divider-line text-center">
                    <div class="bg-cube-container" style="float: right; margin-right: -48px;">
                        <div class="bg-cube-element" style="width:56px; height:36px; margin-top:4%"></div>
                    </div>
                    <div class="bg-cube-container" style="margin-left:-84px">
                        <div class="bg-cube-element" style="width:34px; height:26px; margin-top:0%"></div>
                    </div>
                    <div style="padding-bottom: 20px;">
                        <span class="lead">Follow us and stay in the loop </span>
                    </div>
                    <hr class="mobile-space">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mobile-container">
                                <img class="mobile-image" src="{% static 'public/assets/facebook-logo.png' %}"
                                    class="rectangle-172" alt="facebook logo" style="width:20px; height:50px;">
                                <p class="mobile-text"> Facebook.com/Sisuvr </p>
                            </div>
                            <div class="col-lg-4">
                                <hr class="mobile-space">
                                <div class="mobile-container">
                                    <img class="mobile-image-twitter"
                                        src="{% static 'public/assets/twitter-logo.png' %}" class="rectangle-172"
                                        alt="facebook logo" style="width:20px; height:50px;">
                                    <p class="mobile-text-twitter"> Twitter.com/Sisuvr </p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <hr class="mobile-space">
                                <div class="mobile-container">
                                    <img class="mobile-image-twitter"
                                        src="{% static 'public/assets/linkedin-logo.png' %}" class="rectangle-172"
                                        alt="facebook logo" style="width:20px; height:50px;">
                                    <p class="mobile-text-twitter"> Linkedin.com/Sisuvr </p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <hr class="mobile-space">
                                <div class="mobile-container">
                                    <img class="mobile-image-twitter" src="{% static 'public/assets/medium-logo.png' %}"
                                        class="rectangle-172" alt="facebook logo" style="width:20px; height:50px;">
                                    <p class="mobile-text-twitter"> Medium.com/Sisuvr </p>
                                </div>
                            </div>
                        </div>
                        <hr class="mobile-space">
                    </div>
                </div>
            </div>
        </section>




        <!-- end: Content -->

        {% include 'components/new-footer.html' %}




    </div>
    <!-- end: Body Inner -->

    <!--Plugins-->
    <link rel="stylesheet" href="{% static 'public/js/jquery.js' %}" />
    <script src="{% static 'public/js/jquery.js' %}"></script>
    <script src="{% static 'public/js/plugins.js' %}"></script>

    <!--Template functions-->
    <script src="{% static 'public/js/functions.js' %}"></script>

    <!-- Script for arrow functionality -->
    <script>
        function scrollPress(containerId, direction) {
            const container = document.getElementById(containerId);
            const scrollAmount = 842;

            container.scrollBy({
                left: direction * scrollAmount,
                behavior: 'smooth'
            });
        }
    </script>


</body>

</html>