{% load staticfiles %}
<section class="story-entry-footer custom-row" style="background:white">
    <div class="custom-row">
        {% for post in random_cases %}  
        <a href="{% url 'story_entry' pk=post.pk %}">
            <div class="story-entry-footer-item">
                <div class="story-img-list">
                    <img src="{% static '/img/blog/main-blog/' %}{{ post.pk }}.jpg">
                </div>
                <h4>{{ post.category_name }}</h4>
                <h3>{{ post.title }}</h3>
                <p>
                    {{ post.short_desc }} 
                </p>
            </div>
        </a>
        {% endfor %}
    </div>        
</section>