{% load staticfiles %}

  <!-- <a href="#"><i class="fa fa-lightbulb-o"> 100 </i></a> -->

  <b id="like_count_after"></b>    

  {% if summary.voted %}    
  <b id="like_count" title="{{ summary.total_yes }} #MeToo" style="color:#D28D00;"><span class='metoo_icon_filled'></span> <span style="padding-left: 5px;font-size:13px; text-align:right">{{ summary.total_yes }}</span> </b>    

  {% else %}
  <b id="no_vote" title="{{ summary.total_yes }} #MeToo" style="color: #7B7B7B;font-weight:lighter;"><span class='metoo_icon' id ="likes" data-catid="{{ post.id }}"></span> <span style="padding-left: 5px;font-size:13px;text-align:right">{{ summary.total_yes }}</span> </b>
  
 {% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript"> 
    $('#likes').click(function(){
    var catid = $(this).attr("data-catid");
    var value = 1;
    $.ajax(
    {
        type:"GET",
        url: "/likepost",
        data:{
                 postid: catid,
                 on_off_value: value
        },
        success: function( data ) 
        {
            $('#likes').hide();
            $('#no_vote').hide();
            $("#like_count_after").load(" #like_count");
            
        }
     })
});  
</script>  