{% extends "blog/base_sub.html" %}
{% load staticfiles %}

{% block header %}

		<li class="nav-item"><a class="nav-link" href="/">Home</a></li> 
		<li class="nav-item"><a class="nav-link" href="{% url 'about-us' %}">About</a></li> 
		<li class="nav-item"><a class="nav-link" href="{% url 'post_cases' %}">Cases</a></li>
{% endblock %}

{% block sub_content %} 
<section class="banner_area">
   <div class="banner_inner d-flex align-items-center">
      <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h2>Settings</h2>
						<div class="page_link">
							<a href="/">Home</a>
							<a href="{% url 'user_settings' pk=user.pk %}">Settings</a>
						</div>
					</div>
				</div>
            </div>
        </section>
        <br>
        <!--================Blog Categorie Area =================-->
        <section class="blog_area">
          <div class="container">
           <div class="col-lg-12">
            <div class="w3-container">
              <div class="w3-row">
                <a href="javascript:void(0)" onclick="openTab(event, 'Settings');">
                  <div id="tProfile" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding"><h3 style="font-family: 'Roboto', sans-serif; font-weight: bold">Profile</h3></div>
                </a>
                <a href="javascript:void(0)" onclick="openTab(event, 'Summary');">
                  <div id="tActivity" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-blue"><h3 style="font-family: 'Roboto', sans-serif; font-weight: bold">Activity</h3></div>
                  
                </a>
              </div>

            </div>
           </div>
           <div class="col-lg-12">
             <div id="Settings" class="w3-container tabName" style="display:none">
               <br>
               <p>Hello, {{ request.user }}</p>
               <p>Configure User Settings here </p>
               
               <div class="section-top-border">
                  <h3 class="mb-30 title_color">Your Profile:</h3>
                    <div class="progress-table-wrap">
                      <div class="progress-table">
                          <div class="table-head">
                            <div class="country">Profile Picture</div>
                            <div class="country">First Name </div>
                            <div class="country">Last Name </div>
                            <div class="country">Email Address </div>
                          </div>
                              
                         <div class="table-row">
                         {{ formset.management_form }}
                         {% for form in formset.forms %}
                            <div class="country"> <img src="{% static '/img/icon/' %}{{ form.instance.photo }}.png" alt="Avatar" class="avatar_big" /> </div>
                         {% endfor %}
                         
                         
                         {% if noodle_form.instance.first_name %}
                            <div class="country"> {{noodle_form.instance.first_name}} </div>
                         {% else %}
                            <div class="country"> Please update. </div>
                         {% endif %}
                            
                         {% if noodle_form.instance.last_name %}
                            <div class="country"> {{noodle_form.instance.last_name}} </div>
                         {% else %}
                            <div class="country"> Please update. </div>
                         {% endif %}
                            
                         <div class="country"> {{ noodle_form.instance.email }} </div>
                        </div>
                        <div class="table-row">
                          <a href="{% url 'display_profile' pk=user.pk %}" class="blog_btn">Edit Profile</a>
                          <a href="{% url 'change_password' %}" class="blog_btn">Reset Password</a>
                          <a href="{% url 'delete_profile' pk=user.pk %}" class="blog_btn">Delete Account</a>
                          <a href="{% url 'password_reset' %}" class="blog_btn">Test Reset Password Email</a>
                          
                        </div>
                    </div>
                  </div>
                </div>               
             </div>

             <div id="Summary" class="w3-container tabName" style="display:block">
              <br>
               {% include 'blog/user_settings_chart.html' %}
               <br>
               
               {% include 'blog/user_settings_commented.html' %}
               
            </div>
           
          </div>
          </div>
        </section>
        <!--================Blog Categorie Area =================-->
        
<script>
function openTab(evt, tabName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("tabName");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-border-blue", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-border-blue";
}

</script>        
{% endblock %}
