{% extends "blog/base_sub.html" %}
{% load staticfiles %}

{% block header %}
		<li class="nav-item"><a class="nav-link" href="/">Home</a></li> 
		<li class="nav-item"><a class="nav-link" href="{% url 'about-us' %}">About</a></li> 
		<li class="nav-item"><a class="nav-link" href="{% url 'post_cases' %}">Cases</a></li>
{% endblock %}

{% block sub_content %} 
<section id="user_profile_table">
  <div class="section-top-border">
    <p> Your profile has been updated </p>
    <a href="{% url 'user_settings' pk=user.pk %}">Go Back</a>
  </div>
</section>
{% endblock %}
