{% load staticfiles %}
{% load static %}

<div class="page-sidebar">
    <a class="logo-box" href="{% url 'home_portal' %}">
        <img src="{% static 'portal/img/logo-sisu.svg' %}" width="100px" height="auto" alt="SISU VR">
        <i class="icon-close" id="sidebar-toggle-button-close"></i>
    </a>
    <div class="page-sidebar-inner">
        <div class="page-sidebar-menu">
            <ul class="accordion-menu">
                <li>
                    <a href="{% url 'home_portal' %}">
                        <i class="menu-icon icon-home4"></i><span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <i class="menu-icon icon-flash_on"></i><span>Registration</span><i
                            class="accordion-icon fa fa-angle-left"></i>
                    </a>
                    <ul class="sub-menu">
                        <li><a href="{% url 'register' %}">Register</a></li>
                        <li><a href="{% url 'edit-registration' %}">Edit Registration</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'downloads' %}">
                        <i class="menu-icon icon-users"></i><span>Training Downloads</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'progress' %}">
                        <i class="menu-icon fa fa-bar-chart"></i><span>Employee Progress</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'settings' %}">
                        <i class="menu-icon icon-settings"></i><span>Settings</span>
                    </a>
                </li>
                <li class="menu-divider"></li>
                <li>
                    <a href="mailto:hello@sisuvr.com">
                        <i class="menu-icon"></i><span>Email Support</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'portal_logout' %}">
                        <i class="menu-icon"></i><span>Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>