/* screen - news-page-b */

.news-page-b {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 3438px;
  width: 1433px;
}

.news-page-b .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 2041px;
  width: 1433px;
}

.news-page-b .overlap-group7 {
  align-items: flex-start;
  background-image: url(../public/assets/top-color-rectangle@1x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 176px;
  justify-content: flex-end;
  min-width: 1433px;
  padding: 34.0px 48px;
}

.news-page-b .header-text {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  min-width: 1328px;
}

.news-page-b .group-8 {
  align-self: center;
  height: 30px;
  width: 65px;
}

.news-page-b .about-us {
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 282px;
  margin-top: -6.23px;
  min-height: 43px;
  text-align: center;
  white-space: nowrap;
  width: 93px;
}

.news-page-b .our-products-dropdown-nav {
  align-items: center;
  display: flex;
  gap: 11px;
  height: 43px;
  margin-left: 44px;
  margin-top: -7.31px;
  min-width: 219px;
}

.news-page-b .view-our-products {
  letter-spacing: 0;
  line-height: 40px;
  min-height: 43px;
  text-align: center;
  white-space: nowrap;
  width: 192px;
}

.news-page-b .eparrow-down {
  height: 20px;
  margin-top: 1.08px;
  width: 16px;
}

.news-page-b .faq {
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 44px;
  margin-top: -6.23px;
  min-height: 42px;
  text-align: center;
  white-space: nowrap;
  width: 47px;
}

.news-page-b .news {
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 44px;
  margin-top: -6.23px;
  min-height: 42px;
  text-align: center;
  white-space: nowrap;
  width: 62px;
}

.news-page-b .customer-portal {
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 44px;
  margin-top: -5.39px;
  min-height: 43px;
  text-align: center;
  white-space: nowrap;
  width: 161px;
}

.news-page-b .contact-us {
  letter-spacing: 0;
  line-height: 40px;
  margin-left: 44px;
  margin-top: -5.39px;
  min-height: 43px;
  text-align: center;
  white-space: nowrap;
  width: 109px;
}

.news-page-b .rectangle-127 {
  align-self: flex-start;
  background-color: var(--selective-yellow);
  border: 1px none;
  border-radius: 2px;
  height: 19px;
  margin-left: 344px;
  margin-top: 52px;
  width: 30px;
}

.news-page-b .flex-row {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 470px;
  height: 40px;
  margin-right: 153px;
  margin-top: 16px;
  min-width: 603px;
}

.news-page-b .title {
  color: var(--gravel);
  font-family: var(--font-family-jost);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 40px;
  min-width: 78px;
  white-space: nowrap;
}

.news-page-b .rectangle-126 {
  background-color: var(--selective-yellow);
  border: 1px none;
  border-radius: 2px;
  height: 35px;
  margin-top: 1px;
  width: 55px;
}

.news-page-b .overlap-group2 {
  height: 337px;
  margin-left: 11.0px;
  margin-top: 96px;
  position: relative;
  width: 1228px;
}

.news-page-b .rectangle-148 {
  background-color: #ffffffcc;
  border: 1px solid;
  border-color: var(--quill-gray);
  box-shadow: 0px 4px 4px #00000040;
  height: 337px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1225px;
}

.news-page-b .keep-reading {
  left: 824px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 219px;
  white-space: nowrap;
}

.news-page-b .new-sexual-harassmen {
  left: 307px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 45px;
  width: 645px;
}

.news-page-b .lorem-ipsum-dolor-si {
  left: 307px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 99px;
  width: 921px;
}

.news-page-b .rectangle-172 {
  height: 258px;
  left: 27px;
  position: absolute;
  top: 34px;
  width: 253px;
}

.news-page-b .overlap-group8 {
  height: 367px;
  margin-right: 63.0px;
  margin-top: 92px;
  position: relative;
  width: 1300px;
}

.news-page-b .rectangle-155 {
  background-color: var(--selective-yellow);
  border: 1px none;
  border-radius: 2px;
  height: 40px;
  left: 0;
  position: absolute;
  top: 327px;
  width: 52px;
}

.news-page-b .overlap-group1 {
  height: 337px;
  left: 44px;
  position: absolute;
  top: 0;
  width: 1256px;
}

.news-page-b .rectangle-156 {
  background-color: var(--selective-yellow);
  border: 1px none;
  border-radius: 2px;
  height: 25px;
  left: 0;
  position: absolute;
  top: 239px;
  width: 34px;
}

.news-page-b .rectangle-149 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--quill-gray);
  box-shadow: 0px 4px 4px #00000040;
  height: 337px;
  left: 29px;
  position: absolute;
  top: 0;
  width: 1225px;
}

.news-page-b .increase-user-retent {
  left: 336px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 50px;
  width: 645px;
}

.news-page-b .keep-reading-1 {
  left: 853px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 224px;
  white-space: nowrap;
}

.news-page-b .lorem-ipsum-dolor-si-1 {
  left: 335px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 104px;
  width: 921px;
}

.news-page-b .rectangle-173 {
  height: 258px;
  left: 56px;
  position: absolute;
  top: 39px;
  width: 253px;
}

.news-page-b .overlap-group5 {
  height: 377px;
  margin-right: 22.0px;
  margin-top: 21px;
  position: relative;
  width: 1253px;
}

.news-page-b .rectangle-15 {
  background-color: var(--selective-yellow);
  border: 1px none;
  border-radius: 2px;
  height: 66px;
  left: 0;
  position: absolute;
  top: 0;
  width: 103px;
}

.news-page-b .rectangle-150 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--quill-gray);
  box-shadow: 0px 4px 4px #00000040;
  height: 335px;
  left: 30px;
  position: absolute;
  top: 42px;
  width: 1223px;
}

.news-page-b .vr-productivity-apps-to-try {
  left: 199px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 91px;
  width: 645px;
}

.news-page-b .keep-reading-2 {
  left: 853px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 265px;
  white-space: nowrap;
  width: 178px;
}

.news-page-b .lorem-ipsum-dolor-si-2 {
  left: 332px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 145px;
  width: 903px;
}

.news-page-b .rectangle-174 {
  height: 258px;
  left: 61px;
  position: absolute;
  top: 80px;
  width: 248px;
}

.news-page-b .overlap-group4 {
  height: 335px;
  margin-left: 2.0px;
  margin-top: 94px;
  position: relative;
  width: 1237px;
}

.news-page-b .rectangle-151 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--quill-gray);
  box-shadow: 0px 4px 4px #00000040;
  height: 335px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1233px;
}

.news-page-b .virtual-mortality {
  left: 103px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 49px;
  width: 645px;
}

.news-page-b .keep-reading-3 {
  left: 833px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 217px;
  white-space: nowrap;
}

.news-page-b .lorem-ipsum-dolor-si-3 {
  left: 316px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 97px;
  width: 921px;
}

.news-page-b .rectangle-175 {
  height: 258px;
  left: 32px;
  position: absolute;
  top: 32px;
  width: 253px;
}

.news-page-b .rectangle-158 {
  align-self: flex-start;
  background-color: var(--selective-yellow);
  border: 1px none;
  border-radius: 2px;
  height: 19px;
  margin-left: 182px;
  width: 30px;
}

.news-page-b .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 833px;
  margin-left: 23.0px;
  margin-top: 31px;
  min-width: 1314px;
}

.news-page-b .flex-col-1 {
  align-items: flex-end;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 135px;
  margin-bottom: 4.0px;
  min-height: 801px;
  width: 379px;
}

.news-page-b .rectangle-157 {
  background-color: var(--selective-yellow);
  border: 1px none;
  border-radius: 2px;
  height: 19px;
  margin-right: 45px;
  width: 30px;
}

.news-page-b .rectangle-128 {
  height: 647px;
  object-fit: cover;
  width: 379px;
}

.news-page-b .sisu-container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 63px;
  margin-left: 53px;
  min-height: 768px;
  width: 437px;
}

.news-page-b .whats-happening-at-sisu-vr {
  align-self: flex-end;
  color: var(--gravel);
  font-family: var(--font-family-jost);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 40px;
  min-width: 424px;
  white-space: nowrap;
}

.news-page-b .sisu-linked-in-post-3-2 {
  height: 665px;
  object-fit: cover;
  width: 411px;
}

.news-page-b .flex-col-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 79px;
  margin-left: 28px;
  min-height: 390px;
  width: 417px;
}

.news-page-b .overlap-group6 {
  height: 89px;
  margin-right: 22.0px;
  position: relative;
  width: 143px;
}

.news-page-b .rectangle-153 {
  background-color: var(--selective-yellow);
  border: 1px none;
  border-radius: 2px;
  height: 46px;
  left: 63px;
  position: absolute;
  top: 43px;
  width: 80px;
}

.news-page-b .rectangle-128-1 {
  height: 222px;
  object-fit: cover;
  width: 417px;
}

.news-page-b .overlap-group3 {
  align-items: center;
  background-image: url(../public/assets/footer@1x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-top: 127px;
  min-height: 406px;
  padding: 33.2px 141px;
  width: 1433px;
}

.news-page-b .stay-updated-with-our-free-newsletter {
  color: var(--white);
  font-family: var(--font-family-jost);
  font-size: var(--font-size-xl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 40px;
  margin-right: 4.0px;
  margin-top: 48px;
  min-width: 527px;
  white-space: nowrap;
}

.news-page-b .overlap-group {
  height: 68px;
  margin-top: 32px;
  position: relative;
  width: 595px;
}

.news-page-b .rectangle-104 {
  background-color: var(--white);
  border: 1px none;
  border-radius: 10px;
  height: 68px;
  left: 0;
  position: absolute;
  top: 0;
  width: 592px;
}

.news-page-b .rectangle-105 {
  background-color: var(--gold-drop);
  border: 1px none;
  border-radius: 0px 10px 10px 0px;
  height: 68px;
  left: 443px;
  position: absolute;
  top: 0;
  width: 152px;
}

.news-page-b .sign-up {
  color: var(--white);
  font-family: var(--font-family-jost);
  font-size: var(--font-size-xl);
  font-weight: 700;
  left: 463px;
  letter-spacing: 0;
  line-height: 40px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.news-page-b .email-address {
  color: var(--gravel);
  font-family: var(--font-family-jost);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 23px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 21px;
  white-space: nowrap;
}

.news-page-b .footer-group {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 101px;
  height: 25px;
  margin-top: 52px;
  min-width: 1140px;
}

.news-page-b .about {
  letter-spacing: 0;
  line-height: 25px;
  min-width: 41px;
  white-space: nowrap;
}

.news-page-b .place {
  letter-spacing: 0;
  line-height: 25px;
  min-width: 52px;
  white-space: nowrap;
}

.news-page-b .customer-portal-1 {
  letter-spacing: 0;
  line-height: 25px;
  min-width: 108px;
  white-space: nowrap;
}

.news-page-b .privacy-policy {
  letter-spacing: 0;
  line-height: 25px;
  min-width: 92px;
  white-space: nowrap;
}

.news-page-b .terms-conditions {
  letter-spacing: 0;
  line-height: 25px;
  min-width: 132px;
  white-space: nowrap;
}

.news-page-b .faq-1 {
  letter-spacing: 0;
  line-height: 25px;
  min-width: 30px;
  white-space: nowrap;
}

.news-page-b .follow-us {
  letter-spacing: 0;
  line-height: 25px;
  white-space: nowrap;
}

.news-page-b .copyright-2022-sis {
  letter-spacing: 0;
  line-height: 25px;
  margin-right: 2.0px;
  margin-top: 35px;
  min-height: 40px;
  width: 353px;
}
