@media (max-width:1619px){
	/* Main Menu Area css
	============================================================================================ */
  
	/* End Main Menu Area css
	============================================================================================ */
}
@media (max-width:1300px){
	
}
@media (max-width:1199px){
	/* Main Menu Area css
	============================================================================================ */
	
	/* End Main Menu Area css
	============================================================================================ */
	/* Home Banner Area css
	============================================================================================ */
	.home_banner_area .banner_inner {
		padding: 100px 0px;
	}
	/* End Home Banner Area css
	============================================================================================ */
	.canvus_menu{
		display: none;
	}
	.story_inner .story_img::before {
		display: none;
	}
	.story_inner .story_img2 img {
		position: relative;
		left: 0px;
		max-width: 100%;
	}
	.story_inner .story_img2::before {
		display: none;
	}
	.story_inner .story_img {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.story_inner .story_img2 {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.story_inner .col-lg-7 {
		vertical-align: middle;
		align-self: center;
	}
	.book_table_inner .table_img {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.book_table_inner .table_img img {
		width: 100%;
	}
	.book_table_inner .col-lg-5 {
		vertical-align: middle;
		align-self: center;
	}
	.table_form {
		padding-left: 50px;
		padding-bottom: 50px;
		padding-bottom: 50px;
	}
	.table_form p {
		margin-bottom: 50px;
	}
}

@media (max-width:991px){
	/* Main Menu Area css
	============================================================================================ */
  
	.header_area + section, .header_area + row, .header_area + div {
		margin-top: 71px;
	}
    
    
	.home_banner_area .banner_inner .banner_content .banner_map_img {
		display: none;
	}
	/* End Main Menu Area css
	============================================================================================ */
	/* Blog page Area css
	============================================================================================ */
	.categories_post img{
        width: 100%;
    }
	.categories_post {
		max-width: 360px;
		margin: 0 auto;
	}
	.blog_categorie_area .col-lg-4{
        margin-top: 30px;
    }
    .blog_area{
        padding-bottom: 80px;
    }
    .single-post-area .blog_right_sidebar{
        margin-top: 30px;
    }
	/* End Blog page Area css
	============================================================================================ */
	
	/* Contact Page Area css
	============================================================================================ */
	.contact_info{
		margin-bottom: 50px;
	}
	/* End Contact page Area css
	============================================================================================ */
	.home_banner_area .donation_inner{
		margin-bottom: -30px;
	}
	.home_banner_area .dontation_item{
		max-width: 350px;
		margin: auto;
	}
	/* Footer Area css
	============================================================================================ */
	.footer-area .col-sm-6{
		margin-bottom: 30px;
	}
	.news_widget {
		padding-left: 0px;
	}
	/* End End Footer Area css
	============================================================================================ */
	.story_inner .story_img img {
		width: 100%;
	}
	.story_inner .story_img {
		padding-top: 50px;
	}
	.story_inner .story_img2 {
		padding-bottom: 50px;
	}
	.story_inner .story_text {
		max-width: 100%;
	}
	.story_inner .story_text h2 br {
		display: none;
	}
	.menu_inner .menu_list {
		margin-right: 0px;
		padding-left: 60px;
		padding-top: 65px;
		padding-bottom: 65px;
		padding-right: 60px;
	}
	.menu_inner .menu_img {
		margin-left: 0px;
		padding-top: 50px;
		padding-bottom: 0px;
		text-align: center;
	}
	.menu_inner .menu_img img {
		width: 100%;
	}
	.testimonials_area .testi_slider::before {
		display: none;
	}
	.testimonials_area .testi_slider {
		max-width: 360px;
		margin: auto;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.testimonials_area .testi_slider .item .testi_text {
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 30px;
	}
	.book_table_inner .table_img {
		margin-bottom: 50px;
	}
	.menu_inner .menu_img {
		padding-top: 0px;
	}
    
}
@media (max-width:767px){
	.home_banner_area {
		min-height: 500px;
	}
	.home_banner_area .banner_inner {
		min-height: 500px;
	}
	.home_banner_area .banner_inner .banner_content {
		margin-top: 0px;
	}
	/* Blog Page Area css
	============================================================================================ */
    .blog_banner .banner_inner .blog_b_text h2 {
		font-size: 40px;
		line-height: 50px;
	}
	.blog_info.text-right{
		text-align: left !important;
		margin-bottom: 10px;
	}
	/* End Blog Page Area css
	============================================================================================ */
	.home_banner_area .banner_inner .banner_content h3 {
		font-size: 30px;
	}
	.home_banner_area .banner_inner .banner_content p br {
		display: none;
	}
	.home_banner_area .banner_inner .banner_content h3 span {
		line-height: 45px;
		padding-bottom: 0px;
		padding-top: 0px;
	}
	/* Footer Area css
	============================================================================================ */
	.footer-bottom{
		text-align: center;
	}
	.footer-bottom .footer-social {
		text-align: center;
		margin-top: 15px;
	}
	/* End End Footer Area css
	============================================================================================ */
	.home_slider .swiper-slide.swiper-slide-active .slider_text {
		left: auto;
		text-align: center;
		width: 100%;
		transform: translateX(0px) translateY(-50%);
	}
	.home_slider .swiper-slide.swiper-slide-active .slider_text img {
		max-width: 100%;
	}
	
}
@media (max-width:600px){
	.swiper-slide {
		height: 600px;
	}
	.home_slider .swiper-slide.swiper-slide-active .slider_text img {
		margin-top: 50px;
	}
}
@media (max-width:575px){
	.top_menu {
		display: none;
	}
    /* Home Banner Area css
	============================================================================================ */
	.home_banner_area .banner_inner .banner_content h2 {
		font-size: 28px;
		line-height: 38px;
	}
	.home_banner_area {
		min-height: 500px;
	}
	.home_banner_area .banner_inner {
		min-height: 500px;
	}
	.blog_banner .banner_inner .blog_b_text {
		margin-top: 38px;
	}
	.home_banner_area .banner_inner .banner_content img{
		display: none;
	}
	.home_banner_area .banner_inner .banner_content h5 {
		margin-top: 0px;
	}
	/* End Home Banner Area css
	============================================================================================ */
	.p_120 {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.main_title h2 {
		font-size: 25px;
	}
	/* Elements Area css
	============================================================================================ */
	.sample-text-area {
		padding: 40px 0 40px 0;
	}
	.generic-blockquote {
		padding: 30px 15px 30px 30px;
	}
	/* End Elements Area css
	============================================================================================ */
	
	/* Blog Page Area css
	============================================================================================ */
	.blog_details h2 {
		font-size: 20px;
		line-height: 30px;
	}
	.blog_banner .banner_inner .blog_b_text h2 {
		font-size: 28px;
		line-height: 38px;
	}
	/* End Blog Page Area css
	============================================================================================ */
	/* Footer Area css
	============================================================================================ */
	.footer-area {
		padding: 70px 0px;
	}
	.footer-bottom {
		padding-top: 50px;
	}
	/* End End Footer Area css
	============================================================================================ */
	.pad_top {
		padding-top: 70px;
	}
	.pad_btm {
		padding-bottom: 70px;
	}
	.table_form {
		padding-left: 20px;
		padding-bottom: 20px;
		padding-top: 20px;
		padding-right: 20px;
	}
}

@media (max-width:480px){
	/* Main Menu Area css
	============================================================================================ */
	
	/* End Main Menu Area css
	============================================================================================ */
	
	/* Home Banner Area css
	============================================================================================ */
    .home_banner_area .banner_inner .banner_content {
		padding: 0px 0px;
		margin-top: 0px;
	}
	.banner_content .white_btn {
		display: block;
	}
	.home_banner_area .banner_inner .banner_content h3 {
		font-size: 24px;
	}
	/* End Home Banner Area css
	============================================================================================ */
	.banner_area .banner_inner .banner_content h2 {
		font-size: 32px;
	}
	/* Blog Page Area css
	============================================================================================ */
	.comments-area .thumb {
		margin-right: 10px;
	}
	
	/* End Blog Page Area css
	============================================================================================ */
	.menu_inner .menu_list {
		padding-left: 20px;
		padding-top: 40px;
		padding-bottom: 40px;
		padding-right: 20px;
	}
}
	
/* About us page
============================================================================================ */
@media screen and (max-width:995px){
    .about-us-upper-panel > div > span{
        padding: 20;
        max-width: 100%;
        display: inline-block;
    }
    .custom-row {
        display: inline-block;
    }
    .left-text {
        text-align: left;
    }
    .right-text {
        text-align: left;
	}

	.navbar {
		margin-left: auto;
		margin-right: auto;
		background: #fff;
		border: none;
		border-radius: 0;
		margin-bottom: 0px;
		margin-left: 0px;
		overflow: hidden;
		display: table-cell;
		vertical-align: middle;
		margin-left: auto;
		margin-right: auto
	}

	.navbar-content {
		padding-top: 20px;
		padding-left: 60px;
		display: block;
		margin-left: auto;
		margin-right: auto
	}
}