<!-- download card elements for desktop non-supervisor training downloads -->
<h3 style="padding-top:26px; padding-bottom: 10px;">Non-Supervisor Training</h3>
<div class="row">
    <div class="col-sm-6" style="padding-left: 0px">
        <div class="card panel panel-white">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Windows <i class="fa fa-windows" aria-hidden="true"></i></h4>
                    </div>
                    <div class="col-sm-6 text-right">
                        <span class="badge sisu-badge-secondary">Non-supervisor</span>
                    </div>
                </div>
                <p class="card-text">Download non-supervisor Empower Now Program (ENP) for
                    Windows.</p>
                <p class="card-text">Size: 1.23 GB</p>
                <!-- NOTE / TODO - Update links when non-trial version(s) are released -->
                <a href="https://www.mediafire.com/file/ndousjxyrv5zmc3/Sisu_VR_-_ENP_Trial_0.3_-_Windows.zip/file"
                    class="btn btn-sisu-primary">Download</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="padding-left: 0px">
        <div class="card panel panel-white">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">MacOS <i class="fa fa-apple" aria-hidden="true"></i></h4>
                    </div>
                    <div class="col-sm-6 text-right">
                        <span class="badge sisu-badge-secondary">Non-supervisor</span>
                    </div>
                </div>
                <p class="card-text">Download non-supervisor Empower Now Program (ENP) for
                    MacOS.</p>
                <p class="card-text">Size: 1.28 GB</p>
                <!-- NOTE / TODO - Update links when non-trial version(s) are released -->
                <a href="https://www.mediafire.com/file/ptu2igrx62jdjob/SisuVR_-_ENP_Trial_-_MacOs.zip/file"
                    class="btn btn-sisu-primary">Download</a>
            </div>
        </div>
    </div>
</div>