<!-- download card elements for desktop supervisor training downloads -->

<div class="col-sm-6" style="padding-left: 0px">
    <div class="card panel panel-white">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="card-title">{{ title }} </h4>
                </div>
                <div class="col-sm-6 text-right">
                    <span class="badge sisu-badge-secondary">{{ label }}</span>
                </div>
            </div>
            <p class="card-text">{{ description }}</p>
            <p class="card-text">Size: 1.23 GB</p>
            <!-- NOTE / TODO - Update links when non-trial version(s) are released -->
            <a href="{{ download_link }}" class="btn btn-sisu-primary">Download</a>
        </div>
    </div>
</div>