<!-- download instructions for vr -->
<h3>VR - Oculus Go / Quest Instructions <span class="badge sisu-badge-secondary">VR</span></h3>
<ol>
    <li>Download and install Sidequest (Advanced Installer): https://sidequestvr.com/setup-howto</li>
    <li>Download the ENP apk below.</li>
    <li>Connect the Oculus Quest headset to your computer via a USB C cable.</li>
    <li>Turn on the headset.</li>
    <li>Select “Allow Computer to Access Files.</li>”
    <li>Open “Sidequest” from your PC."</li>
    <li>Select the “Install” icon in the upper right hand corner.</li>
    <li>Select the ENP or product apk to install.</li> 
    <li>Put on the headset.</li>
    <li>Select “Unknown Sources” in the home screen applications menu.</li>
    <li>Find the Empower Now Program or product apk.</li>
    <li>Select the application.</li>
</ol>

<h3>VR - Steam Instructions <span class="badge sisu-badge-secondary">VR</span></h3>
<ol>
    <li>Launch the Steam app on your VR ready Desktop or Laptop.</li>
    <li>In the top navigation menu, under "Games" select Activate a product on Steam.</li>
    <li>Click "Next" to be prompted to enter the product code.</li>
    <li>Enter the redemption code provided by Sisu VR with your purchase and click "Next."</li>
    <li>You will be prompted to download and install the app.</li>
</ol>
