<!-- download instructions for desktop -->
<h3>Installation Instructions <span class="badge sisu-badge-secondary">VR</span></h3>
<ol>
    <li>Click on the download button and save the apk file to your computer.</li>
    <li>Download <a href="https://sidequestvr.com">Sidequest</a> onto your desktop./</li>
    <li>Connect the Oculus to your PC using a USB cable.</li>
    <li>Open Sidequest.</li>
    <li>Download apk onto headset (Please follow instructions <a href="https://sidequestvr.com/setup-howto">here</a>)</li>
    <li>Select the downloaded apk. Sidequest message should say "Successfully uploaded"</li>
    <li>Start the application in your headset.</li>
    <li>Note: The application in the headset should be located the menu under "Unknown Sources" (under drop down in top right hand corner)</li>
</ol>
