<!-- download instructions for vr -->
<h3>VR - Oculus Go / Quest Instructions <span class="badge sisu-badge-secondary">VR</span></h3>
<ol>
    <li>Open the Oculus app on your mobile phone (make sure to have wifi, bluetooth and location enabled).</li>
    <li>Tap "Settings" in the bottom menu.</li>
    <li>Under Payment, tap "Redeem Code".</li>
    <li>Enter the redemption code provided by Sisu VR with your purchase and tap submit.</li>
    <li>In your headset, open the Apps menu.</li>
    <li>In the tab in the upper right corner of the menu, select "Not Installed."</li>
    <li>The new app should now appear. Click the ENP app and select download.</li>
</ol>

<h3>VR - Steam Instructions <span class="badge sisu-badge-secondary">VR</span></h3>
<ol>
    <li>Launch the Steam app on your VR ready Desktop or Laptop.</li>
    <li>In the top navigation menu, under "Games" select Activate a product on Steam.</li>
    <li>Click "Next" to be prompted to enter the product code.</li>
    <li>Enter the redemption code provided by Sisu VR with your purchase and click "Next."</li>
    <li>You will be prompted to download and install the app.</li>
</ol>