{% load static %}

<div id="mainMenu">
  <div class="container">
    <nav>
      <ul class="sisu-header-link">
        <li>
          <a class="sisu-menu-link" href="{% url 'about-us' %}">About Us</a>
        </li>
        <li>
          <a class="sisu-menu-link" href="{% url 'nocode' %}">View our Products</a>
        </li>
        <li><a class="sisu-menu-link" href="{% url 'faq' %}">FAQ</a></li>
        <li><a class="sisu-menu-link" href="{% url 'news' %}">News</a></li>
        <li>
          <a class="sisu-menu-link" href="{% url 'home_portal' %}"
            >Customer Portal</a
          >
        </li>
        <li>
          <a class="sisu-menu-link" href="{% url 'contact' %}">Contact Us</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
