<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="logo-sm">
                <a href="javascript:void(0)" id="sidebar-toggle-button"><i class="fa fa-bars" style="margin-top: 7px; padding-left: 12px"></i></a>
                <!-- Option 1 - Text-based Sisu VR Logo -->
                <!-- <a class="logo-box" href="index.html"><span>Sisu VR</span></a> -->
                <!-- Option 2 - SVG-based Sisu VR Logo -->
                <a class="logo-box" href="{% url 'home_portal' %}"><img src="/static/portal/img/logo-sisu.svg" width="54" height="auto" alt="Sisu VR" style=""></a>
                
            </div>
        </div>
    </div>
</nav>