<div id="mainMenu">
    <div class="container">
        <nav>
            <ul class="sisu-header-link">
                <li><a class="sisu-menu-link" href="{% url 'home' %}">Home</a></li>
                <li><a class="sisu-menu-link" href="{% url 'faq' %}">FAQ</a></li>
                <li><a class="sisu-menu-link" href="{% url 'home' %}#testimonials">Testimonials</a></li>
                <li><a class="sisu-menu-link" href="{% url 'home' %}#blog">News</a></li>
                <li><a class="sisu-menu-link" href="{% url 'home_portal' %}">Customer Portal</a></li>
                <li><a class="sisu-menu-link" href="{% url 'contact' %}">Contact Sales</a></li>
            </ul>
        </nav>
    </div>
</div>