{% load staticfiles %}
{% load socialaccount %}

<!-- Credited to  Mohan Khadka on CodePen 
https://codepen.io/khadkamhn/pen/ZGvPLo -->
<link rel="stylesheet" href="{% static 'css/login.css' %}" />

<div class="login-wrap">
	<div class="login-html">
		<div class="login-form">
			<div class="sign-up-htm">
				<div class="group">
					<h3>
						Welcome to SISU!
					</h3>
				</div>
				<!-- div class="group">
                    <a href="{% provider_login_url 'google' %}" class = "btn btn-block btn-md btn-social btn-google" style="padding-left: 30%">
                        <span class = "fa fa-google"></span>
                        Sign up with Google 
                    </a>
				</div -->
				<!--div class="group">
		    <a href="{% provider_login_url 'linkedin_oauth2' %}" class = "btn btn-block btn-md btn-social btn-linkedin" style="padding-left: 30%">
                        <span class = "fa fa-linkedin"></span>
                        Sign up with LinkedIn 
                    </a>
				</div -->
				<!-- div class="group">
					<h4>
						- or -
					</h4>
				</div -->
                <form method="post" action="{% url 'signup' %}">
				{% csrf_token %}
                {% for field in signup_form %}
					<div class="group">
                        <input for='{{ forloop.counter }}' name="{{ field.html_name }}" maxlength="150" title='{{ field.help_text }}' class="input" required="" id="{{ field.id_for_label }}" placeholder="{{ field.label }}">
                    
					</div>
        
					<!-- {% for error in field.errors %}
						<p style="color: red">{{ error }}</p>
					{% endfor %} -->
                {% endfor %}
                    <div class="group">
						<input id="check2" type="checkbox" class="check" checked onchange="document.getElementById('sign-up-button').disabled = !this.checked;">
						<label for="check2" class="loginCheck" style="line-height:1em;font-weight:lighter;"><span class="icon"></span> I agree to SISU's <a href="{% url 't_c' %}"><u style="color:#7D1E62">Terms & Conditions</u></a> and   
                        <a href="{% url 'p_p' %}"><u style="color:#7D1E62">Privacy Policy</u></a>
                        </label>
					</div>
                    <div class="group">
                        <input type="submit" class="sisu-button" value="Sign Up" id="sign-up-button">
                    </div>
                </form>
      
                <div class="foot-lnk-signup">
					Already have an account?  <label data-toggle="modal" data-target="#signinModal" data-dismiss="modal" style="cursor: pointer;"><u>Sign in</u></label>
                </div>
			</div>
		</div>
	</div>
  
</div>
<script type="text/javascript">
    document.getElementById('id_password1').type = 'password';
    document.getElementById('id_password2').type = 'password';
</script>
