<script type="text/javascript">

    /* employer profile update handler */
    $('#employer-profile-form').submit(function (e) {
        e.preventDefault();

        /* read the form */
        let formData = {
            'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val(),
            'email': $("input[name='email']").val(),
            'company_name': $("input[name='company_name']").val(),
            'employee_count': $("select[name='employee_count']").val()
        }

        let url = $('#employer-profile-form').attr('action');

        /* post form using ajax */
        $.post(url, formData, function (data, status) {
            $('.main-content .card-body').html(data);
        });
    });
</script>