body{
	font:600 16px/18px 'Raleway',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:#6a6f8c;text-decoration:none}

#label-tab-1 {
  background: rgba(0,0,0,0);
  box-shadow: none;
  text-align: left;
  width: 90px;
}

#label-tab-2 { 
  background: rgba(0,0,0,0);
  box-shadow: none;
  text-align: left;
  width: 100px;
}

#label-tab-1, #label-tab-2 {
	display: none;
}

.loginLabel {
  display: inline-block;
  background: rgba(0,0,0,0);
  position: relative;
  width: 200px;
  height: 20px;
  line-height: 30px;
  border-radius: 0;
  font-size: 1em;
  color: #95969d;
  text-align: left;
  text-decoration: none;
  box-shadow: none;
}

.loginCheck{
  display: inline-block;
  background: rgba(0,0,0,0);
  position: relative;
  width: 100%;
  height: 15px;
  line-height: 40px;
  border-radius: 0;
  font-size: 0.75em;
  color: #6a6f8c;
  text-align: left;
  text-decoration: none;
  box-shadow: none;
}

.switchLabel {
  display: inline-block;
  background: rgba(0,0,0,0);
  position: relative;
  height: 10px;
  line-height: 0;
  border-radius: 0;
  font-size: 1em;
  color: #6a6f8c;
  text-align: left;
  text-decoration: none;
  box-shadow: none;
  padding-top:10px;
  font-weight:normal;
}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:680px;
	position:relative;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding: 50px 70px 50px 70px;
	background:rgba(255, 255, 255, 0.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transition:all .4s linear;
    
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-form .group {
	text-align: center;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	/* color:#fff; */
	border-color:#7D1E62;
}
.login-form{
	margin: 15px 0;
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#000;
	display:block;
}
.login-form .group .button{
	padding:15px 20px;
	border-radius:25px;
	border: none;
}
.login-form .group .input {
	outline-width: 0;
	padding: 15px 0;
	border-width: 0 0 3px 0;
	border-color: #FAC633;
}

.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(0,0,0,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#000;
}
.login-form .group .check:checked + label .icon{
	background:#7D1E62;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}
.login-form .sisu-button {
	margin-top: 30px;
}
.login-form h3 {
	color: #D28D00;
	margin-bottom: 30px;
}
.hr{
	height:2px;
	margin:60px 0 10px 0;
	background:rgba(0,0,0,.2);
}

.hr-1{
	height:2px;
	margin:50px 0 10px 0;
	background:rgba(0,0,0,.2);
}

.foot-lnk-login{
	margin-top: 60px;
	text-align:center;
}

.foot-lnk-signup{
	margin-top: 10px;
	text-align:center;	
}

.tooltip-inner {
	background-color: #fff; 
	color: #000;
	border: 1px solid #000;
}

.login-wrap-adj{
	width:65%;
    height:90%;
	margin:5% auto 5%;
	max-width:525px;
    position:relative;
	box-shadow:0 12px 15px 0 rgba(93, 16, 73, 0.24),0 17px 50px 0 rgba(93, 16, 73, 0.19);
}