{% load staticfiles %}
{% load socialaccount %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Sisu VR Inc">

        <!-- Title -->
        {% include 'components/portal_tab_title.html' %}

        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'portal/plugins/bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'portal/plugins/font-awesome/css/font-awesome.min.css' %}" />
        <link rel="stylesheet" href="{% static 'portal/plugins/icomoon/style.css' %}" />
        <link rel="stylesheet" href="{% static 'portal/plugins/uniform/css/default.css' %}" />

        <!-- Styles - DataTables -->
        <link rel="stylesheet" href="{% static 'portal/plugins/datatables/css/jquery.datatables.min.css' %}" />
        <link rel="stylesheet" href="{% static 'portal/plugins/datatables/css/jquery.datatables_themeroller.css' %}" />

        <!-- Theme Styles -->
        <link rel="stylesheet" href="{% static 'portal/css/space.min.css' %}" />
        <link rel="stylesheet" href="{% static 'portal/css/custom.css' %}" />
    </head>
    <body>
        <style>
            input, select {
                padding: 6px 6px;
                border: 1px solid #C1C7CD;
                border-radius: 4px
            }
            .modal-body{
                text-align:center;
            }
            .top-nav-wrapper{
                display: flex; 
                flex-direction: row; 
                flex-wrap:wrap;
                justify-content:space-between; 
                align-items:center;
            }
            .top-nav-search-wrapper{
                padding-left: 20px; 
                flex-basis:50%;
            }
            .top-nav-search{
                display:flex; 
                align-items:center;
                padding:2px;
                border: 1px solid rgba(0,0,0,0.3);
                border-radius: 5px;
                width:300px;
            }
            #search{
                border:none;
                width:100%;
            }
            #search:focus{
                outline: none;
            }
            #search:focus .top-nav-search{
                border: 1px solid rgba(0,0,0,1);;
            }
        </style>

        <!-- Page Container -->
        <div class="page-container">

            <!-- Page Sidebar Start -->
            {% if player.admin %}
                {% include 'components/portal_sidebar_admin.html' %}
            {% elif player.supervisor %}
                {% include 'components/portal_sidebar_supervisor.html' %}
            {% else %}
                {% include 'components/portal_sidebar_employee.html' %}
            {% endif %}
            <!-- Page Sidebar End -->

            <!-- Page Content Start -->
            <div class="page-content">
                <!-- Page Sidebar / Navigation Elements Start -->
                <div class="page-header">
                    <!-- Collapsed / Mobile Navigation Bar Start -->
                    {% include 'components/portal_mobilenav.html' %}
                    <!-- Collapsed / Mobile Navigation Bar End -->
                </div>
                <!-- Page Sidebar / Navigation Elements End -->

                <!-- Page Inner Start -->
                <div class="page-inner">
                    <!-- Page Top Bar Start -->
                    <div class="page-title">
                        <h2>Edit Registration</h2>
                        <hr>
                    </div>

                    <!-- top nav -->
                    <div class = "top-nav-wrapper">
                        <div class = "top-nav-search-wrapper">
                            <div class = "top-nav-search">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50">
                                    <path d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"></path>
                                </svg>
                                <input type="text" id="search" name="search" placeholder="Search">
                            </div>
                            
                        </div>
                        <label id="filter-select"style="padding-left: 40px; padding-right: 15px; flex-basis:50%; display:flex; justify-content:flex-end; align-items:center;">
                            Filter on Registration Type:
                            
                        </label>
                        <!-- Commented Out by Andy for New Design -->
                            <label style="padding-top: 10px; padding-left: 20px;">
                            Showing: 
                            <select name="showing" id="showing">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="-1">All</option>
                            </select>
                            entries
                        </label>
                        
                    </div>

                    <!-- Page Top Bar End -->
                    <!-- Main Content Start -->
                    <div id="main-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="edit-employee-reg" class="display table" style="width: 100%; cellspacing: 0;">
                                        <thead class="tbl-sisu-header">
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th class="filter-col">Registration</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for player in players.all %}
                                                <tr>
                                                    <td>{{ player.full_name }}</td>
                                                    <td>{{ player.email }}</td>
                                                    <td>{% if player.supervisor is True %} Supervisor {% elif player.supervisor is False %} Non-supervisor {% endif %}</td>
                                                    <td><i class="table-td-icon fa fa-edit"></i> <i class="table-td-icon fa fa-trash"></i></td>
                                                    
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        <!-- Commented Out Due to conflictg with Figma Design: Editted By Andy
                                            <tfoot class="tbl-sisu-header">
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Registration</th>
                                                <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                        -->
                                        
                                    </table>  
                                </div>
                            </div>
                            {% if user_registration_type %}
                            <p>get: {{user_registration_type}}</p>
                            {% endif %}
                            <!-- edit modal start -->
                            <div class="modal fade" id="edit-reg-modal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="exampleModalLabel">Edit Registration
                                            </h4>
                                        </div>
                                        <form action="{% url 'edit-user' %}" method="post">
                                            <div class="modal-body">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <table id="edit-employee-reg" class="display table">
                                                        <tbody>
                                                            <tr>
                                                                <td>Name</td>
                                                                <td id="user-name">
                                                                    <input id="userName" name="userName" value=""/>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Email</td>
                                                                <td id="user-email">-</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Registration Type</td>
                                                                <td>
                                                                    <select id="user-registration" name="regiTypeDropDown"></select>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>  
                                                </div>
                                                <input type="hidden" id="userEmail1" name="userEmail1" value="" />
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sisu-lined" data-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn btn-sisu-primary">Confirm Changes</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- edit modal end -->
                            <!-- remove modal start -->
                            <div class="modal fade" id="remove-user-modal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="exampleModalLabel">Remove User
                                            </h4>
                                        </div>
                                        <form action="{% url 'remove-user' %}" method="post">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                                <p>Delete <b id="remove-user-name"></b> (<b id="remove-user-email"></b>)'s account?</p>
                                                <input type="hidden" id="userEmail2" name="userEmail2" value="" />
                                            </div>
                                            <div class="modal-footer" style="display:flex; flex-direction:column; justify-content:center; align-items:center;">
                                                <button type="submit"  class="btn btn-sisu-primary" style="margin-bottom:15px;">Yes, delete account</button>
                                                <button type="button" class="btn btn-sisu-lined" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- remove modal end -->
                        </div>
                    </div>
                    <!-- Main Content End -->
                    
                    <!-- Page Footer Start -->
                    {% include 'components/portal_footer.html' %}
                    <!-- Page Footer End -->
                </div>
                <!-- Page Inner End -->
            </div>
            <!-- Page Content End -->

        </div>
        <!-- /Page Content -->


        <!-- Scripts -->
        <script src="{% static 'portal/plugins/jquery/jquery-3.1.0.min.js' %}"></script>
        <script src="{% static 'portal/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'portal/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'portal/plugins/uniform/js/jquery.uniform.standalone.js' %}"></script>

        <script src="{% static 'portal/js/space.min.js' %}"></script>
        <script src="{% static 'portal/js/scripts.js' %}"></script>
        
        <script src="{% static 'portal/plugins/datatables/js/jquery.datatables.min.js' %}"></script>
        <script src="{% static 'portal/js/table-data-register.js' %}"></script>

        <!--Font Awesome CDN-->
        <script src="https://kit.fontawesome.com/c93b7b420e.js" crossorigin="anonymous"></script>
        <!-- <script src="{% static 'portal/js/table-data.js' %}"></script> -->
    </body>

</html>
