{% load staticfiles %}
{% load socialaccount %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Sisu VR Inc">

        <!-- Title -->
        {% include 'components/portal_tab_title.html' %}

        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'portal/plugins/bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'portal/plugins/font-awesome/css/font-awesome.min.css' %}" />
        <link rel="stylesheet" href="{% static 'portal/plugins/icomoon/style.css' %}" />
        <link rel="stylesheet" href="{% static 'portal/plugins/uniform/css/default.css' %}" />

        <!-- Theme Styles -->
        <link rel="stylesheet" href="{% static 'portal/css/space.min.css' %}" />
        <link rel="stylesheet" href="{% static 'portal/css/custom.css' %}" />

        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    </head>
    <body>

        <!-- Page Container -->
        <div class="page-container">

            <!-- Page Sidebar Start -->
            {% if player.admin is True %}
                {% include 'components/portal_sidebar_admin.html' %}
            {% else %}
                {% include 'components/portal_sidebar_employee.html' %}
            {% endif %}
            <!-- Page Sidebar End -->

            <!-- Page Content Start -->
            <div class="page-content">
                <!-- Page Sidebar / Navigation Elements Start -->
                <div class="page-header">
                    <!-- Collapsed / Mobile Navigation Bar Start -->
                    {% include 'components/portal_mobilenav.html' %}
                    <!-- Collapsed / Mobile Navigation Bar End -->
                </div>
                <!-- Page Sidebar / Navigation Elements End -->

                <!-- Page Inner Start -->
                <div class="page-inner">
                    <!-- Page Top Bar Start -->
                    <div id="portal-home" class="page-title">
                        <h2 id="survey-title">Download Certificate</h2>
                        <hr>
                    </div>
                    <!-- Page Top Bar End -->
                    
                    <!-- Main Content Start -->
                    <div id="survey">

                        <div id="ending" class="row">
                            <h4>Thank you! We appreciate your feedback.</span></h4>
                            <br><br>
                            <a style="margin-bottom:15px;" type="button" class="btn btn-sisu-primary" href="{%url 'certificate' %}" target="_blank">Download</a>
                        </div>
                        
                    </div>
                    <!-- Main Content End -->

                    <!-- Page Footer Start -->
                    {% include 'components/portal_footer.html' %}
                    <!-- Page Footer End -->
                </div>
                <!-- Page Inner End -->
            </div>
            <!-- Page Content End -->
        </div>
        <!-- /Page Content -->


        <!-- Scripts -->
        <script src="{% static 'portal/plugins/jquery/jquery-3.1.0.min.js' %}"></script>
        <script src="{% static 'portal/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'portal/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'portal/plugins/uniform/js/jquery.uniform.standalone.js' %}"></script>

        <script src="{% static 'portal/js/space.js' %}"></script>
        <script src="{% static 'portal/js/scripts.js' %}"></script>
    </body>

</html>