{% load staticfiles %}
{% load socialaccount %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Sisu VR Inc">

    <!-- Title -->
    {% include 'components/portal_tab_title.html' %}

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'portal/plugins/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <link rel="stylesheet" href="{% static 'portal/plugins/icomoon/style.css' %}" />
    <link rel="stylesheet" href="{% static 'portal/plugins/uniform/css/default.css' %}" />

    <!-- Theme Styles -->
    <link rel="stylesheet" href="{% static 'portal/css/space.min.css' %}" />
    <link rel="stylesheet" href="{% static 'portal/css/custom.css' %}" />
</head>

<style>
    th {
        font-size: 14px;
        vertical-align: top;
    }

    ul {
        font-size: 12px;
        margin-top: 5px;
        padding-left: 20px;
    }
</style>

<body>
    {% include 'components/message-sent.html' %}

    <!-- Page Container -->
    <div id="portal" data-page="settings" class="page-container">

        <!-- Page Sidebar Start -->
        {% if player.admin %}
        {% include 'components/portal_sidebar_admin.html' %}
        {% elif player.supervisor %}
        {% include 'components/portal_sidebar_supervisor.html' %}
        {% else %}
        {% include 'components/portal_sidebar_employee.html' %}
        {% endif %}
        <!-- Page Sidebar End -->

        <!-- Page Content Start -->
        <div class="page-content">
            <!-- Page Sidebar / Navigation Elements Start -->
            <div class="page-header">
                <!-- Collapsed / Mobile Navigation Bar Start -->
                {% include 'components/portal_mobilenav.html' %}
                <!-- Collapsed / Mobile Navigation Bar End -->
            </div>
            <!-- Page Sidebar / Navigation Elements End -->

            <!-- Page Inner Start -->
            <div class="page-inner">
                <!-- Page Top Bar Start -->
                <div class="page-title">
                    <h2>Settings</h2>
                    <hr>
                </div>
                <!-- Page Top Bar End -->

                <!-- Main Content Start -->
                <div id="main-wrapper">
                    <div class="row">
                        <div>
                            <!-- Button or link to trigger the dropdown -->
                            <a class="btn btn-default" data-toggle="collapse" href="#changePassword" role="button" aria-expanded="false" aria-controls="changePassword" style="margin: auto; ">
                                Change Password <i class="fas fa-angle-down" aria-hidden="true"> </i><i class="fas fa-angle-up" aria-hidden="true" style="display: none;"></i>
                            </a>
                            <!-- The dropdown content -->
                            <div class="collapse" id="changePassword">
                                <div class="card card-body">
                                    <!-- Old Password -->
                                    <div class="modal-body">
                                        <form method="post" class="space-y-6">
                                            {% csrf_token %}
                                            <table border="0">
                                                <br>
                                                {{ form.as_table }}
                                            </table>
                                            <br />
                                            <button type="submit" class="btn btn-sisu-primary">Change Password</button>
                                            <br />
                                        </form>
                                        <br />
                                    </div>
                            </div>
                        </div>
                        <div>
                            <!-- Button or link to trigger the dropdown -->
                            <a class="btn btn-default" data-toggle="collapse" href="#contactsupport" role="button" aria-expanded="false" aria-controls="changePassword" style=" margin-top: 20px;">
                               Contact Support <i class="fas fa-angle-down" aria-hidden="true"> </i><i class="fas fa-angle-up" aria-hidden="true" style="display: none;"></i>
                            </a>
                            <!-- The dropdown content -->
                            <div class="collapse" id="contactsupport">
                                <div class="card card-body">
                                    <!-- Old Password -->
                                    <div class="form-group">
                                        <br>
                                        <label for="oldPassword">Phone Number (Optional)</label>
                                        <input type="text" class="form-control" id="phonenumber">
                                    </div>
                                    
                                    <!-- New Password -->
                                    <div class="form-group">
                                        <label for="newPassword">Enter Questions Below:</label>
                                        <textarea class="form-control" id="questionsComments" rows="6" placeholder="Write your questions or comments here..."></textarea>
                                    </div>
                                    
                                    <!-- Submit Button -->
                                    <button type="submit" class="btn btn-sisu-primary"> Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Main Content End -->

                <!-- Page Footer Start -->
                {% include 'components/portal_footer.html' %}
                <!-- Page Footer End -->
            </div>
            <!-- Page Inner End -->
        </div>
        <!-- Page Content End -->

    </div>
    <!-- /Page Content -->


    <!-- Scripts -->
    <script src="{% static 'portal/plugins/jquery/jquery-3.1.0.min.js' %}"></script>
    <script src="{% static 'portal/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'portal/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'portal/plugins/uniform/js/jquery.uniform.standalone.js' %}"></script>

    <script src="{% static 'portal/js/space.js' %}"></script>
    <script src="{% static 'portal/js/scripts.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#changePassword').on('show.bs.collapse', function () {
                $('[data-toggle="collapse"][href="#changePassword"] .fa-angle-down').hide();
                $('[data-toggle="collapse"][href="#changePassword"] .fa-angle-up').show();
            });
            
            $('#changePassword').on('hide.bs.collapse', function () {
                $('[data-toggle="collapse"][href="#changePassword"] .fa-angle-down').show();
                $('[data-toggle="collapse"][href="#changePassword"] .fa-angle-up').hide();
            });
            
            $('#contactsupport').on('show.bs.collapse', function () {
                $('[data-toggle="collapse"][href="#contactsupport"] .fa-angle-down').hide();
                $('[data-toggle="collapse"][href="#contactsupport"] .fa-angle-up').show();
            });
            
            $('#contactsupport').on('hide.bs.collapse', function () {
                $('[data-toggle="collapse"][href="#contactsupport"] .fa-angle-down').show();
                $('[data-toggle="collapse"][href="#contactsupport"] .fa-angle-up').hide();
            });
        });
        </script>
        

</body>

</html>