<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Sisu VR Inc. Contact Us Form</title>
    </head>

    <body>
        <h3>Customer Info</h3>
        <ul>
            <li>First Name: {{input_first_name}}</li>
            <li>Last Name: {{input_last_name}}</li>
            <li>Company: {{input_company_name}}</li>
            <li>Email: {{input_email}}</li>
        </ul>
        <h3>Message from Customer</h3>
        <p>Subject: {{input_subject}}</p>
        <p>{{input_message}}</p>
    </body>
</html>